/**
 * PURE RESPONSIVE CSS3 SLIDESHOW GALLERY adapted from Roko C. buljan
 * http://stackoverflow.com/a/34696029/383904
 * https://codepen.io/rokobuljan/pen/XXzqKQ
 *
 */

/* SLIDER */

.slider-wrapper {
  position: relative;
  overflow: hidden;
  block-size: 100%; /* Or set a fixed height */
  color: var(--mpb-color-textPrimary);
  text-align: center;
}

.slider-wrapper .slider {
  block-size: 100%;
  white-space: nowrap;
  font-size: 0;
  transition: 0.8s;
}

/* SLIDES */

.slider-wrapper .slider > * {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  block-size: 100%;
  inline-size: 100%;
  background: none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.slider-wrapper .prevNext {
  position: absolute;
  z-index: 1;
  inset-block-start: 50%;
  block-size: 0;
  inline-size: 100%;
}

.slider-wrapper .prevNext svg {
  display: inline-block;
  inline-size: 2rem;
  text-align: center;
  vertical-align: middle;
}

.slider-wrapper .prevNext > div + div {
  visibility: hidden; /* Hide all but first P/N container */
}

@media (prefers-reduced-motion) {
  .slider-wrapper .prevNext a {
    -webkit-transition: 0s;
    transition: 0s;
  }
}

.slider-wrapper .prevNext a {
  background-color: #fff;
  position: absolute;
  width: 3.75rem;
  height: 3.75rem;
  line-height: 3.75rem; /* If you want to place numbers */
  text-align: center;
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  inset-inline-start: 0;
}

[data-theme="dark"] .slider-wrapper .prevNext a {
  background-color: #000;
}

.slider-wrapper .prevNext a:hover {
  opacity: 1;
}

.slider-wrapper .prevNext a + a {
  inset-inline-start: auto;
  inset-inline-end: 0;
}

/* NAVIGATION */

.slider-wrapper .bullets {
  position: absolute;
  z-index: 2;
  inset-block-end: 0;
  padding-block: 1rem;
  padding-inline: 0;
  width: 100%;
  text-align: center;
}

.slider-wrapper .bullets > a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-decoration: none;
  text-align: center;
  background: rgba(255, 255, 255, 1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider-wrapper .bullets > a + a,
.slider-wrapper .bullets > a:first-child {
  background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}

.slider-wrapper .bullets > a:hover {
  background: rgba(255, 255, 255, 0.7);
}

/* NAVIGATION BUTTONS */
/* ALL: */
.slider-wrapper > s:target ~ .bullets > * {
  background: rgba(255, 255, 255, 0.5);
}
/* ACTIVE */
#s0:target ~ .bullets > *:nth-child(1),
#s1:target ~ .bullets > *:nth-child(2),
#s2:target ~ .bullets > *:nth-child(3),
#s3:target ~ .bullets > *:nth-child(4),
#s4:target ~ .bullets > *:nth-child(5),
#s5:target ~ .bullets > *:nth-child(6),
#s6:target ~ .bullets > *:nth-child(7),
#s7:target ~ .bullets > *:nth-child(8),
#s8:target ~ .bullets > *:nth-child(9),
#s9:target ~ .bullets > *:nth-child(10),
#s10:target ~ .bullets > *:nth-child(11),
#s11:target ~ .bullets > *:nth-child(12),
#s12:target ~ .bullets > *:nth-child(13),
#s13:target ~ .bullets > *:nth-child(14),
#s14:target ~ .bullets > *:nth-child(15),
#s15:target ~ .bullets > *:nth-child(16) {
  background-color: rgba(255, 255, 255, 1);
}

/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.slider-wrapper > s:target ~ .prevNext > * {
  visibility: hidden;
}

/* ACTIVE: */
#s0:target ~ .prevNext > *:nth-child(1),
#s1:target ~ .prevNext > *:nth-child(2),
#s2:target ~ .prevNext > *:nth-child(3),
#s3:target ~ .prevNext > *:nth-child(4),
#s4:target ~ .prevNext > *:nth-child(5),
#s5:target ~ .prevNext > *:nth-child(6),
#s6:target ~ .prevNext > *:nth-child(7),
#s7:target ~ .prevNext > *:nth-child(8),
#s8:target ~ .prevNext > *:nth-child(9),
#s9:target ~ .prevNext > *:nth-child(10),
#s10:target ~ .prevNext > *:nth-child(11),
#s11:target ~ .prevNext > *:nth-child(12),
#s12:target ~ .prevNext > *:nth-child(13),
#s13:target ~ .prevNext > *:nth-child(14),
#s14:target ~ .prevNext > *:nth-child(15),
#s15:target ~ .prevNext > *:nth-child(16) {
  visibility: visible;
}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s0:target ~ .slider {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
}

#s1:target ~ .slider {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

#s2:target ~ .slider {
  transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
}

#s3:target ~ .slider {
  transform: translateX(-300%);
  -webkit-transform: translateX(-300%);
}

#s4:target ~ .slider {
  transform: translateX(-400%);
  -webkit-transform: translateX(-400%);
}

#s5:target ~ .slider {
  transform: translateX(-500%);
  -webkit-transform: translateX(-500%);
}

#s6:target ~ .slider {
  transform: translateX(-600%);
  -webkit-transform: translateX(-600%);
}

#s7:target ~ .slider {
  transform: translateX(-700%);
  -webkit-transform: translateX(-700%);
}

#s8:target ~ .slider {
  transform: translateX(-800%);
  -webkit-transform: translateX(-800%);
}

#s9:target ~ .slider {
  transform: translateX(-900%);
  -webkit-transform: translateX(-900%);
}

#s10:target ~ .slider {
  transform: translateX(-1000%);
  -webkit-transform: translateX(-1000%);
}

#s11:target ~ .slider {
  transform: translateX(-1100%);
  -webkit-transform: translateX(-1100%);
}

#s12:target ~ .slider {
  transform: translateX(-1200%);
  -webkit-transform: translateX(-1200%);
}

#s13:target ~ .slider {
  transform: translateX(-1300%);
  -webkit-transform: translateX(-1300%);
}

#s14:target ~ .slider {
  transform: translateX(-1400%);
  -webkit-transform: translateX(-1400%);
}

#s15:target ~ .slider {
  transform: translateX(-1500%);
  -webkit-transform: translateX(-1500%);
}
/* More slides? Add here more rules */

.slider-wrapper [id^="sw"] {
  block-size: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sw0 {
  background-image: url("assets/images/site/slideshow/hero-00-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-00-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-00-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-00-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-00-640-2x.webp") 2x
  );
}

#sw1 {
  background-image: url("assets/images/site/slideshow/hero-01-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-01-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-01-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-01-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-01-640-2x.webp") 2x
  );
}

#sw2 {
  background-image: url("assets/images/site/slideshow/hero-02-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-02-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-02-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-02-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-02-640-2x.webp") 2x
  );
}

#sw3 {
  background-image: url("assets/images/site/slideshow/hero-03-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-03-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-03-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-03-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-03-640-2x.webp") 2x
  );
}

#sw4 {
  background-image: url("assets/images/site/slideshow/hero-04-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-04-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-04-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-04-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-04-640-2x.webp") 2x
  );
}

#sw5 {
  background-image: url("assets/images/site/slideshow/hero-05-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-05-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-05-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-05-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-05-640-2x.webp") 2x
  );
}

#sw6 {
  background-image: url("assets/images/site/slideshow/hero-06-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-06-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-06-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-06-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-06-640-2x.webp") 2x
  );
}

#sw7 {
  background-image: url("assets/images/site/slideshow/hero-07-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-07-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-07-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-07-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-07-640-2x.webp") 2x
  );
}

#sw8 {
  background-image: url("assets/images/site/slideshow/hero-08-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-08-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-08-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-08-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-08-640-2x.webp") 2x
  );
}

#sw9 {
  background-image: url("assets/images/site/slideshow/hero-09-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-09-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-09-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-09-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-09-640-2x.webp") 2x
  );
}

#sw10 {
  background-image: url("assets/images/site/slideshow/hero-10-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-10-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-10-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-10-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-10-640-2x.webp") 2x
  );
}

#sw11 {
  background-image: url("assets/images/site/slideshow/hero-11-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-11-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-11-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-11-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-11-640-2x.webp") 2x
  );
}

#sw12 {
  background-image: url("assets/images/site/slideshow/hero-12-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-12-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-12-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-12-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-12-640-2x.webp") 2x
  );
}

#sw13 {
  background-image: url("assets/images/site/slideshow/hero-13-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-13-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-13-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-13-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-13-640-2x.webp") 2x
  );
}

#sw14 {
  background-image: url("assets/images/site/slideshow/hero-14-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-14-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-14-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-14-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-14-640-2x.webp") 2x
  );
}

#sw15 {
  background-image: url("assets/images/site/slideshow/hero-15-640-1x.jpg");
  background-image: image-set(
    url("assets/images/site/slideshow/hero-15-640-1x.jpg") 1x,
    url("assets/images/site/slideshow/hero-15-640-2x.jpg") 2x,
    url("assets/images/site/slideshow/hero-15-640-1x.webp") 1x,
    url("assets/images/site/slideshow/hero-15-640-2x.webp") 2x
  );
}

@media not print {
  @media (min-width: 641px) {
    #sw0 {
      background-image: url("assets/images/site/slideshow/hero-00-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-00-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-00-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-00-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-00-768-2x.webp") 2x
      );
    }

    #sw1 {
      background-image: url("assets/images/site/slideshow/hero-01-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-01-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-01-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-01-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-01-768-2x.webp") 2x
      );
    }

    #sw2 {
      background-image: url("assets/images/site/slideshow/hero-02-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-02-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-02-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-02-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-02-768-2x.webp") 2x
      );
    }

    #sw3 {
      background-image: url("assets/images/site/slideshow/hero-03-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-03-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-03-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-03-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-03-768-2x.webp") 2x
      );
    }

    #sw4 {
      background-image: url("assets/images/site/slideshow/hero-04-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-04-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-04-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-04-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-04-768-2x.webp") 2x
      );
    }

    #sw5 {
      background-image: url("assets/images/site/slideshow/hero-05-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-05-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-05-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-05-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-05-768-2x.webp") 2x
      );
    }

    #sw6 {
      background-image: url("assets/images/site/slideshow/hero-07-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-06-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-06-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-06-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-06-768-2x.webp") 2x
      );
    }

    #sw7 {
      background-image: url("assets/images/site/slideshow/hero-07-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-07-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-07-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-07-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-07-768-2x.webp") 2x
      );
    }

    #sw8 {
      background-image: url("assets/images/site/slideshow/hero-08-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-08-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-08-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-08-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-08-768-2x.webp") 2x
      );
    }

    #sw9 {
      background-image: url("assets/images/site/slideshow/hero-09-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-09-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-09-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-09-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-09-768-2x.webp") 2x
      );
    }

    #sw10 {
      background-image: url("assets/images/site/slideshow/hero-10-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-10-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-10-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-10-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-10-768-2x.webp") 2x
      );
    }

    #sw11 {
      background-image: url("assets/images/site/slideshow/hero-11-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-11-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-11-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-11-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-11-768-2x.webp") 2x
      );
    }

    #sw12 {
      background-image: url("assets/images/site/slideshow/hero-12-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-12-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-12-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-12-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-12-768-2x.webp") 2x
      );
    }

    #sw13 {
      background-image: url("assets/images/site/slideshow/hero-13-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-13-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-13-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-13-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-13-768-2x.webp") 2x
      );
    }

    #sw14 {
      background-image: url("assets/images/site/slideshow/hero-14-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-14-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-14-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-14-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-14-768-2x.webp") 2x
      );
    }

    #sw15 {
      background-image: url("assets/images/site/slideshow/hero-15-768-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-15-768-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-15-768-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-15-768-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-15-768-2x.webp") 2x
      );
    }
  }

  @media (min-width: 769px) {
    #sw-0 {
      background-image: url("assets/images/site/slideshow/hero-00-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-00-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-00-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-00-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-00-1024-2x.webp") 2x
      );
    }

    #sw1 {
      background-image: url("assets/images/site/slideshow/hero-01-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-01-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-01-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-01-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-01-1024-2x.webp") 2x
      );
    }

    #sw2 {
      background-image: url("assets/images/site/slideshow/hero-02-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-02-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-02-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-02-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-02-1024-2x.webp") 2x
      );
    }

    #sw3 {
      background-image: url("assets/images/site/slideshow/hero-03-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-03-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-03-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-03-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-03-1024-2x.webp") 2x
      );
    }

    #sw4 {
      background-image: url("assets/images/site/slideshow/hero-04-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-04-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-04-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-04-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-04-1024-2x.webp") 2x
      );
    }

    #sw5 {
      background-image: url("assets/images/site/slideshow/hero-05-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-05-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-05-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-05-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-05-1024-2x.webp") 2x
      );
    }

    #sw6 {
      background-image: url("assets/images/site/slideshow/hero-06-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-06-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-06-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-06-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-06-1024-2x.webp") 2x
      );
    }

    #sw7 {
      background-image: url("assets/images/site/slideshow/hero-07-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-07-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-07-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-07-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-07-1024-2x.webp") 2x
      );
    }

    #sw8 {
      background-image: url("assets/images/site/slideshow/hero-08-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-08-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-08-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-08-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-08-1024-2x.webp") 2x
      );
    }

    #sw9 {
      background-image: url("assets/images/site/slideshow/hero-09-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-09-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-09-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-09-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-09-1024-2x.webp") 2x
      );
    }

    #sw10 {
      background-image: url("assets/images/site/slideshow/hero-10-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-10-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-10-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-10-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-10-1024-2x.webp") 2x
      );
    }

    #sw11 {
      background-image: url("assets/images/site/slideshow/hero-11-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-11-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-11-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-11-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-11-1024-2x.webp") 2x
      );
    }

    #sw12 {
      background-image: url("assets/images/site/slideshow/hero-12-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-12-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-12-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-12-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-12-1024-2x.webp") 2x
      );
    }

    #sw13 {
      background-image: url("assets/images/site/slideshow/hero-13-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-13-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-13-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-13-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-13-1024-2x.webp") 2x
      );
    }

    #sw14 {
      background-image: url("assets/images/site/slideshow/hero-14-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-14-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-14-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-14-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-14-1024-2x.webp") 2x
      );
    }

    #sw15 {
      background-image: url("assets/images/site/slideshow/hero-15-1024-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-15-1024-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-15-1024-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-15-1024-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-15-1024-2x.webp") 2x
      );
    }
  }

  @media (min-width: 1025px) {
    #sw0 {
      background-image: url("assets/images/site/slideshow/hero-00-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-00-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-00-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-00-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-00-1920-2x.webp") 2x
      );
    }

    #sw1 {
      background-image: url("assets/images/site/slideshow/hero-01-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-01-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-01-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-01-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-01-1920-2x.webp") 2x
      );
    }

    #sw2 {
      background-image: url("assets/images/site/slideshow/hero-02-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-02-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-02-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-02-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-02-1920-2x.webp") 2x
      );
    }

    #sw3 {
      background-image: url("assets/images/site/slideshow/hero-03-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-03-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-03-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-03-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-03-1920-2x.webp") 2x
      );
    }

    #sw4 {
      background-image: url("assets/images/site/slideshow/hero-04-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-04-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-04-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-04-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-04-1920-2x.webp") 2x
      );
    }

    #sw5 {
      background-image: url("assets/images/site/slideshow/hero-05-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-05-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-05-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-05-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-05-1920-2x.webp") 2x
      );
    }

    #sw6 {
      background-image: url("assets/images/site/slideshow/hero-06-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-06-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-06-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-06-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-06-1920-2x.webp") 2x
      );
    }

    #sw7 {
      background-image: url("assets/images/site/slideshow/hero-07-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-07-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-07-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-07-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-07-1920-2x.webp") 2x
      );
    }

    #sw8 {
      background-image: url("assets/images/site/slideshow/hero-08-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-08-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-08-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-08-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-08-1920-2x.webp") 2x
      );
    }

    #sw9 {
      background-image: url("assets/images/site/slideshow/hero-09-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-09-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-09-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-09-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-09-1920-2x.webp") 2x
      );
    }

    #sw10 {
      background-image: url("assets/images/site/slideshow/hero-10-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-10-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-10-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-10-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-10-1920-2x.webp") 2x
      );
    }

    #sw11 {
      background-image: url("assets/images/site/slideshow/hero-11-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-11-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-11-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-11-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-11-1920-2x.webp") 2x
      );
    }

    #sw12 {
      background-image: url("assets/images/site/slideshow/hero-12-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-12-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-12-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-12-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-12-1920-2x.webp") 2x
      );
    }

    #sw13 {
      background-image: url("assets/images/site/slideshow/hero-13-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-13-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-13-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-13-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-13-1920-2x.webp") 2x
      );
    }

    #sw14 {
      background-image: url("assets/images/site/slideshow/hero-14-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-14-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-14-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-14-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-14-1920-2x.webp") 2x
      );
    }

    #sw15 {
      background-image: url("assets/images/site/slideshow/hero-15-1920-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-15-1920-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-15-1920-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-15-1920-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-15-1920-2x.webp") 2x
      );
    }
  }

  @media (min-width: 1921px) {
    #sw0 {
      background-image: url("assets/images/site/slideshow/hero-00-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-00-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-00-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-00-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-00-2x.webp") 2x
      );
    }

    #sw1 {
      background-image: url("assets/images/site/slideshow/hero-01-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-01-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-01-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-01-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-01-2x.webp") 2x
      );
    }

    #sw2 {
      background-image: url("assets/images/site/slideshow/hero-02-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-02-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-02-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-02-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-02-2x.webp") 2x
      );
    }

    #sw3 {
      background-image: url("assets/images/site/slideshow/hero-03-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-03-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-03-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-03-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-03-2x.webp") 2x
      );
    }

    #sw4 {
      background-image: url("assets/images/site/slideshow/hero-04-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-04-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-04-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-04-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-04-2x.webp") 2x
      );
    }

    #sw5 {
      background-image: url("assets/images/site/slideshow/hero-05-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-05-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-05-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-05-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-05-2x.webp") 2x
      );
    }

    #sw6 {
      background-image: url("assets/images/site/slideshow/hero-06-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-06-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-06-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-06-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-06-2x.webp") 2x
      );
    }

    #sw7 {
      background-image: url("assets/images/site/slideshow/hero-07-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-07-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-07-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-07-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-07-2x.webp") 2x
      );
    }

    #sw8 {
      background-image: url("assets/images/site/slideshow/hero-08-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-08-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-08-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-08-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-08-2x.webp") 2x
      );
    }

    #sw9 {
      background-image: url("assets/images/site/slideshow/hero-09-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-09-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-09-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-09-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-09-2x.webp") 2x
      );
    }

    #sw10 {
      background-image: url("assets/images/site/slideshow/hero-10-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-10-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-10-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-10-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-10-2x.webp") 2x
      );
    }

    #sw11 {
      background-image: url("assets/images/site/slideshow/hero-11-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-11-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-11-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-11-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-11-2x.webp") 2x
      );
    }

    #sw12 {
      background-image: url("assets/images/site/slideshow/hero-12-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-12-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-12-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-12-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-12-2x.webp") 2x
      );
    }

    #sw13 {
      background-image: url("assets/images/site/slideshow/hero-13-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-13-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-13-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-13-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-13-2x.webp") 2x
      );
    }

    #sw14 {
      background-image: url("assets/images/site/slideshow/hero-14-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-14-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-14-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-14-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-14-2x.webp") 2x
      );
    }

    #sw15 {
      background-image: url("assets/images/site/slideshow/hero-15-1x.jpg");
      background-image: image-set(
        url("assets/images/site/slideshow/hero-15-1x.jpg") 1x,
        url("assets/images/site/slideshow/hero-15-2x.jpg") 2x,
        url("assets/images/site/slideshow/hero-15-1x.webp") 1x,
        url("assets/images/site/slideshow/hero-15-2x.webp") 2x
      );
    }
  }
}

.slider-wrapper #overlay,
.slider-wrapper [id^="watermark"] {
  position: absolute;
  background-repeat: repeat;
  opacity: 0.5;
}

.slider-wrapper #overlay {
  inset-inline: 0;
  inset-block-end: 0;
}

.slider-wrapper [id^="watermark"] {
  inset: 0;
}

.slider-wrapper #overlay {
  background-image: url("assets/images/site/slideshow/overlay.svg");
  background-size: 12rem;
  inline-size: 1600%;
  block-size: 100vh;
}

.slider-wrapper [id^="watermark"] {
  background-image: url("assets/images/site/slideshow/watermark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30vw;
}

#watermark01 {
  inset-inline-start: 100%;
}

#watermark02 {
  inset-inline-start: 200%;
}

#watermark03 {
  inset-inline-start: 300%;
}

#watermark04 {
  inset-inline-start: 400%;
}

#watermark05 {
  inset-inline-start: 500%;
}

#watermark06 {
  inset-inline-start: 600%;
}

#watermark07 {
  inset-inline-start: 700%;
}

#watermark08 {
  inset-inline-start: 800%;
}

#watermark09 {
  inset-inline-start: 900%;
}

#watermark10 {
  inset-inline-start: 1000%;
}

#watermark11 {
  inset-inline-start: 1100%;
}

#watermark12 {
  inset-inline-start: 1200%;
}

#watermark13 {
  inset-inline-start: 1300%;
}

#watermark14 {
  inset-inline-start: 1400%;
}

#watermark15 {
  inset-inline-start: 1500%;
}

.slider-wrapper a {
  border-radius: 50%;
  margin: 0 3px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

#main-wrapper {
  inline-size: 100vw;
  max-inline-size: 100vw;
  position: relative;
  inset-inline-start: 50%;
  inset-inline-end: 50%;
  margin-inline-start: -50vw;
  margin-inline-end: -50vw;
}
