<aside id="author-info-wrapper">
  <stack-l>
    <hr />
    <mpb-callout type="info" title="About the Author">

    <div id="author-info-content">

      {% image "./src/assets/images/site/about/avatar-2016-short-hair-pencil-moustache.png", "img-constrained", "Avatar depicting the author. He is wearing a stingy-brim hat set at a rakish angle. His pencil-thin moustache sets the ladies a-swooning.", "Chris J. Zähller" %}

      <p>International Man of Mystery <a href="https://chris.zahller.me" rel="external author me">Chris J. Zähller</a> designs things and writes code when he’s not nerding out about cocktails. He occasionally snaps a picture or two.</p>
    </div>
    </mpb-callout>
  </stack-l>
</aside>
