<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, interactive-widget=resizes-content">
  <!-- Allow text scaling. See https://www.joshtumath.uk/posts/2026-01-27-try-text-scaling-support-in-chrome-canary/ -->
  <meta name="text-scale" content="scale" />
  <!-- Grab title from the page data and dump it here -->
  <link rel="icon" href="/favicon.ico" sizes="48x48"><!-- `sizes="48x48"` tricks Chromium browsers into using the SVG. Safari 26 will support SVG; in the meantime it will use the .ico -->
  {% if env.env == 'production' %}
    <link rel="icon" href="/icon.svg" sizes="any" type="image/svg+xml">
  {% else %}
    <link rel="icon" href="/icon-dev.svg" sizes="any" type="image/svg+xml">
  {% endif %}
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
  <link rel="manifest" href="/manifest.webmanifest" crossorigin="use-credentials">
  <link rel="preload" href="/assets/fonts/Merriweather-Subset.woff2" as="font" crossorigin>
  <link rel="preload" href="/assets/fonts/MerriweatherSans-Subset.woff2" as="font" crossorigin>
  <link rel="preload" href="/assets/fonts/PlayfairDisplay-Subset.woff2" as="font" crossorigin>
  <link rel="preload" href="/assets/fonts/Cousine-Subset.woff2" as="font" crossorigin>
  <!-- Used with snow-fall; okay to comment out after holidays -->
  <!--script type="module" src="/assets/js/is-land.js"></script-->
  <!-- Must load in head or masonry layout fails -->
  {% if env.env == 'production' %}
    <script src="/assets/js/worker.js"></script>
  {% endif %}
  <script src="/assets/js/index.js" type="module"></script>
  <script type="speculationrules">
    {
      "prerender": [
        {
          "where": {
            "and": [
              { "href_matches": "/*" },
              { "not": { "selector_matches": "[rel~=nofollow]" } },
              { "not": { "selector_matches": "[rel~=external]" } }
            ]
          },
          "eagerness": "moderate"
        }
      ],
      "prefetch": [
        {
          "where": {
            "and": [
              { "href_matches": "/*" },
              { "not": { "selector_matches": "[rel~=nofollow]" } },
              { "not": { "selector_matches": "[rel~=external]" } }
            ]
          },
          "eagerness": "eager"
        }
      ]
    }
  </script>
  <style>
    @font-face {
      font-family: Merriweather;
      src: url('/assets/fonts/Merriweather-Subset.woff2') format('woff2');
      font-display: swap;
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      unicode-range: U+30-U+39,U+41-U+5A, U+61-U+7A;
    }

    @font-face {
      font-family: MerriweatherSans;
      src: url('/assets/fonts/MerriweatherSans-Subset.woff2') format('woff2');
      font-display: swap;
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      unicode-range: U+30-U+39,U+41-U+5A, U+61-U+7A;
    }

    @font-face {
      font-family: PlayfairDisplay;
      src: url('/assets/fonts/PlayfairDisplay-Subset.woff2') format('woff2');
      font-display: swap;
      font-weight: 700;
      font-style: normal;
      font-display: swap;
      unicode-range: U+30-U+39,U+41-U+5A, U+61-U+7A;
    }

    @font-face {
      font-family: Cousine;
      src: url('/assets/fonts/Cousine-Subset.woff2') format('woff2');
      font-display: swap;
      font-weight: 400;
      font-style: normal;
      font-display: swap;
      unicode-range: U+30-U+39,U+41-U+5A, U+61-U+7A;
    }
  </style>
  <script>
    if( `fonts` in document ) {
        const a = new FontFace(
          `Merriweather`,
          `url(/assets/fonts/Merriweather-Variable.woff2) format('woff2')`, {
            weight: `300 900`,
            stretch: `87% 112%`
          }
        );

        const b = new FontFace(
          `Merriweather`,
          `url(/assets/fonts/Merriweather-Italic-Variable.woff2) format('woff2')`, {
            weight: `300 900`,
            stretch: `87% 112%`,
            style: `italic`
          }
        );

        const c = new FontFace(
          `MerriweatherSans`,
          `url(/assets/fonts/MerriweatherSans-Variable.woff2) format('woff2')`, {
            weight: `300 800`
          }
        );

        const d = new FontFace(
          `MerriweatherSans`,
          `url(/assets/fonts/MerriweatherSans-Italic-Variable.woff2) format('woff2')`, {
            weight: `300 800`,
            style: `italic`
          }
        );

        const e = new FontFace(
          `Playfair`,
          `url(/assets/fonts/PlayfairDisplay-Variable.woff2) format('woff2')`, {
            weight: `400 900`
          }
        );

        const f = new FontFace(
          `Playfair`,
          `url(/assets/fonts/PlayfairDisplay-Italic-Variable.woff2) format('woff2')`, {
            weight: `400 900`,
            style: `italic`
          }
        );

        const g = new FontFace(
          `PlayfairSC`,
          `url(/assets/fonts/PlayfairDisplaySC-Regular.woff2) format('woff2')`, {
            weight: `400`
          }
        );

        const h = new FontFace(
          `PlayfairSC`,
          `url(/assets/fonts/PlayfairDisplaySC-Italic.woff2) format('woff2')`, {
            weight: `400`,
            style: `italic`
          }
        );

        const i = new FontFace(
          `PlayfairSC`,
          `url(/assets/fonts/PlayfairDisplaySC-Bold.woff2) format('woff2')`, {
            weight: `700`
          }
        );

        const j = new FontFace(
          `PlayfairSC`,
          `url(/assets/fonts/PlayfairDisplaySC-BoldItalic.woff2) format('woff2')`, {
            weight: `700`,
            style: `italic`
          }
        );

        const k = new FontFace(
          `Cousine`,
          `url(/assets/fonts/Cousine-Regular.woff2) format('woff2')`, {
            weight: `400`
          }
        );

        const l = new FontFace(
          `Cousine`,
          `url(/assets/fonts/Cousine-Italic.woff2) format('woff2')`, {
            weight: `400`,
            style: `italic`
          }
        );

        const m = new FontFace(
          `Cousine`,
          `url(/assets/fonts/Cousine-Bold.woff2) format('woff2')`, {
            weight: `700`
          }
        );

        const n = new FontFace(
          `Cousine`,
          `url(/assets/fonts/Cousine-BoldItalic.woff2) format('woff2')`, {
            weight: `700`,
            style: `italic`
          }
        );

        Promise.all([ a.load(), b.load(), c.load(), d.load(), e.load(), f.load(), g.load(), h.load(), i.load(), j.load(), k.load(), l.load(), m.load(), n.load() ]).then(function(fonts) {
            fonts.forEach(function(font) {
                document.fonts.add(font);
            });
        });
    }
  </script>
  <script type="module">
    if (!(`anchorName` in document.documentElement.style)) {
      import(`https://unpkg.com/@oddbird/css-anchor-positioning`);
    }
  </script>
  <link rel="stylesheet" href="/assets/css/index.css">
  <meta property="og:site_name" content="{{ env.siteName }}">
  <meta property="article:publisher" content="https://facebook.com/mercuryphoto/">
  {% seo "" %}
  <!-- Facebook -->
  {% if image %}
    <meta property="og:image" content="{{ env.siteURL }}{{ image }}" />
  {% else %}
    <meta property="og:image" content="{{ env.siteURL }}/assets/images/site/mpb-logo.webp" />
  {% endif %}
  <meta property="fb:app_id" content="1811156772801459">
  <!-- Structured data -->
  {% if recipe %}
    {{ recipe | safe }}
  {% elif review %}
    {{ review | safe }}
  {% elif faq %}
    {{ faq | safe }}
  {% endif %}
  {% if '/blog/' in page.url %}
    {% if not '/tags/' in page.url %}
      {% if not index  %}
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Article",
    "author": {
      "@type": "Person",
      "name": "{{ env.siteAuthor }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ env.siteName }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ env.siteURL }}/assets/images/site/mpb-logo.webp"
      }
    },
        {% if title %}
    "headline": "{{ title }}",
        {% endif %}
        {% if image %}
    "image": "{{ env.siteURL }}{{ image }}",
        {% else %}
    "image": "{{ env.siteURL }}/assets/images/site/mpb-logo.webp",
        {% endif %}
        {% if pubdate %}
    "datePublished": "{{ pubdate | toISOString | safe }}",
        {% else %}
    "datePublished": "{{ page.date | toISOString | safe }}",
        {% endif %}
    "dateModified": "{{ page.date | toISOString | safe }}"
  }
</script>
      {% endif %}
    {% endif %}
  {% endif %}
<noscript>
  <link rel="stylesheet" href="/assets/fonts/index.css" />
</noscript>
</head>
