---
layout: layout-home.njk
---
<main id="main" data-pagefind-ignore>
  <div tabindex="-1"><a href="#recent-posts" class="sr-only" id="skip-slideshow-link">Skip slideshow</a></div>
  <stack-l>

  <svg hidden xmlns="http://www.w3.org/2000/svg" id="icon-sprite">
    <defs>
      <symbol xmlns="http://www.w3.org/2000/svg" id="icon-arrow-left" viewBox="0 0 448 512">
        <path fill="var(--mpb-color-accent)" d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"/>
      <symbol xmlns="http://www.w3.org/2000/svg" id="icon-arrow-right" viewBox="0 0 448 512">
        <path fill="var(--mpb-color-accent)" d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"/>
      </symbol>
    </defs>
  </svg>
    <h1 class="hero-hed">Mercury Photo Bureau</h1>
    <div class="slider-wrapper">

      <!-- Targets — don't wrap them in parent -->
      <!-- Empty spans will be removed during minification -->
      <div id="s0"><span></span></div>
      <div id="s1"><span></span></div>
      <div id="s2"><span></span></div>
      <div id="s3"><span></span></div>
      <div id="s4"><span></span></div>
      <div id="s5"><span></span></div>
      <div id="s6"><span></span></div>
      <div id="s7"><span></span></div>
      <div id="s8"><span></span></div>
      <div id="s9"><span></span></div>
      <div id="s10"><span></span></div>
      <div id="s11"><span></span></div>
      <div id="s12"><span></span></div>
      <div id="s13"><span></span></div>
      <div id="s14"><span></span></div>
      <div id="s15"><span></span></div>

      <!-- Slides container -->
      <div class="slider">
        <div id="sw0"><span></span></div>
        <div id="sw1"><span></span></div>
        <div id="sw2"><span></span></div>
        <div id="sw3"><span></span></div>
        <div id="sw4"><span></span></div>
        <div id="sw5"><span></span></div>
        <div id="sw6"><span></span></div>
        <div id="sw7"><span></span></div>
        <div id="sw8"><span></span></div>
        <div id="sw9"><span></span></div>
        <div id="sw10"><span></span></div>
        <div id="sw11"><span></span></div>
        <div id="sw12"><span></span></div>
        <div id="sw13"><span></span></div>
        <div id="sw14"><span></span></div>
        <div id="sw15"><span></span></div>
        <!-- Container for SVG overlay -->
        <div id="overlay"><span></span></div>
        <!-- Watermarks -->
        <div id="watermark00"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark01"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark02"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark03"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark04"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark05"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark06"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark07"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark08"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark09"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark10"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark11"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark12"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark13"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark14"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark15"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
      </div>

      <!-- Previous & next buttons -->
      <div class="prevNext">
        <div>
          <a href="#s15"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s1"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s0"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s2"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s1"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s3"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s2"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s4"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s3"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s5"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>        <div>
          <a href="#s4"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s6"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s5"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s7"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s6"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s8"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s7"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s9"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s8"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s10"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s9"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s11"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s10"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s12"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s11"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s13"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s12"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s14"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s13"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s15"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
        <div>
          <a href="#s14"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-left"/></svg></a>
          <a href="#s0"><svg width="40.5" height="46.281"><use xlink:href="#icon-arrow-right"/></svg></a>
        </div>
      </div>

      <!-- Numbered buttons -->
      <div class="bullets">
        <a href="#s0"><span class="sr-only">Advance to slide </span>1</a>
        <a href="#s1"><span class="sr-only">Advance to slide </span>2</a>
        <a href="#s2"><span class="sr-only">Advance to slide </span>3</a>
        <a href="#s3"><span class="sr-only">Advance to slide </span>4</a>
        <a href="#s4"><span class="sr-only">Advance to slide </span>5</a>
        <a href="#s5"><span class="sr-only">Advance to slide </span>6</a>
        <a href="#s6"><span class="sr-only">Advance to slide </span>7</a>
        <a href="#s7"><span class="sr-only">Advance to slide </span>8</a>
        <a href="#s8"><span class="sr-only">Advance to slide </span>9</a>
        <a href="#s9"><span class="sr-only">Advance to slide </span>10</a>
        <a href="#s10"><span class="sr-only">Advance to slide </span>11</a>
        <a href="#s11"><span class="sr-only">Advance to slide </span>12</a>
        <a href="#s12"><span class="sr-only">Advance to slide </span>13</a>
        <a href="#s13"><span class="sr-only">Advance to slide </span>14</a>
        <a href="#s14"><span class="sr-only">Advance to slide </span>15</a>
        <a href="#s15"><span class="sr-only">Advance to slide </span>16</a>

      </div>

    </div>
  </stack-l>
</main>
