---
layout: layout-home.njk
---
<main id="main">
  <stack-l>
    <center-l>
      <h1>Mercury Photo Bureau</h1>
    </center-l>
    <div class="slider-wrapper">

      <!-- Don't wrap targets in parent -->
      <s id="s1"></s>
      <s id="s2"></s>
      <s id="s3"></s>
      <s id="s4"></s>
      <s id="s5"></s>
      <s id="s6"></s>
      <s id="s7"></s>
      <s id="s8"></s>
      <s id="s9"></s>
      <s id="s10"></s>
      <s id="s11"></s>
      <s id="s12"></s>
      <s id="s13"></s>
      <s id="s14"></s>
      <s id="s15"></s>
      <s id="s16"></s>

      <div class="slider">
        <div id="sw1"></div>
        <div id="sw2"></div>
        <div id="sw3"></div>
        <div id="sw4"></div>
        <div id="sw5"></div>
        <div id="sw6"></div>
        <div id="sw7"></div>
        <div id="sw8"></div>
        <div id="sw9"></div>
        <div id="sw10"></div>
        <div id="sw11"></div>
        <div id="sw12"></div>
        <div id="sw13"></div>
        <div id="sw14"></div>
        <div id="sw15"></div>
        <div id="sw16"></div>
        <div id="overlay"></div>
        <div id="watermark01"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark02"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark03"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark04"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark05"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark06"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark07"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark08"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark09"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark10"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark11"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark12"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark13"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark14"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark15"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
        <div id="watermark16"><span class="sr-only">OKIE-X: Portraits of Oklahoma Musicians on X-Ray Film. Coming Soon.</span></div>
      </div>

      <div class="prevNext">
        <div>
          <a href="#s16">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s2">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s1">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s3">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s2">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s4">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s3">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s5">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s4">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s6">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s5">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s7">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s6">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s8">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s7">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s9">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s8">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s10">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s9">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s11">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s10">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s12">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s11">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s13">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s12">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s14">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s13">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s15">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s14">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s16">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
        <div>
          <a href="#s15">{% svgIcon "./_site/assets/images/icons/arrow-left.svg" %}</a>
          <a href="#s1">{% svgIcon "./_site/assets/images/icons/arrow-right.svg" %}</a>
        </div>
      </div>

      <div class="bullets">
        <a href="#s1">1</a>
        <a href="#s2">2</a>
        <a href="#s3">3</a>
        <a href="#s4">4</a>
        <a href="#s5">5</a>
        <a href="#s6">6</a>
        <a href="#s7">7</a>
        <a href="#s8">8</a>
        <a href="#s9">9</a>
        <a href="#s10">10</a>
        <a href="#s11">11</a>
        <a href="#s12">12</a>
        <a href="#s13">13</a>
        <a href="#s14">14</a>
        <a href="#s15">15</a>
        <a href="#s16">16</a>
      </div>

    </div>
  </stack-l>
</main>
