---
layout: layout.njk
---
<main id="main">
  <stack-l>
    <article class="post" data-pagefind-body>
      <stack-l>
        {{ content | safe }}
        <small id="pubdate">Published {{ page.date.toUTCString() | safe }}</small>
        {% include "_pagination.njk" %}
      </stack-l>
    </article>
    <aside>
      <stack-l>
        <hr />
        <h2>Support This Site</h2>
        <p>Help us to keep bringing you great articles, news, and pictures by making purchases through our affiliate links to <a href="//itunes.apple.com/subscribe?app=music&amp;at=10ldhk" target="itunes_store" rel="external noopener noreferrer">Apple Music</a>, <a href="//www.adorama.com/?kbid=67690" target="_blank" rel="external noopener noreferrer">Adorama</a>, <a href="//www.bhphotovideo.com/find/coupons-deals-promotions.jsp/BI/19462/KBID/11656/DFF/d10-v1-t8-x1-y17" target="_blank" rel="external noopener noreferrer"><abbr class="noscaps">B&amp;H</abbr> Photo &amp;&nbsp;Video</a>, <a href="//leicastoremiami.com/#a_aid=504a17652889d" rel="external noopener noreferrer" target="_blank">Leica Store Miami</a>,  and <span class="nobr"><a href="//www.amazon.com/b?_encoding=UTF8&amp;camp=1789&amp;creative=9325&amp;linkCode=ur2&amp;node=13900861&amp;site-redirect=&amp;tag=mercphotamzn-20" target="_blank" rel="external noopener noreferrer">Amazon</a>.</span></p>
        <hr />
      </stack-l>
    </aside>
  </stack-l>
</main>
