---
layout: layout-blog.njk
---
<main id="main">
  <stack-l>
    <article class="post" data-pagefind-body>
      <stack-l>
        {{ content | safe }}
        <small id="pubdate">Published {{ page.date.toUTCString() | safe }}</small>
        {% include "_pagination.njk" %}
      </stack-l>
    </article>
  </stack-l>
</main>
