---
layout: layout-blog.njk
---
<main id="main">
  <stack-l>
    <article class="post" data-pagefind-body>
      <stack-l>
        {{ content | safe }}
        <small id="pubdate">Published <time datetime="{{ page.date | toISOString | safe }}">{{ page.date.toUTCString() | safe }}</time></small>
        {% include "_pagination.njk" %}
      </stack-l>
    </article>
  </stack-l>
</main>
