<nav id="nav-secondary" class="header-footer" aria-labelledby="#nav-secondary-label">
  <span class="sr-only" id="nav-secondary-label">Secondary Navigation</span>
  <cluster-l role="list" justify="space-between" space="var(--s0)">
  <div role="listitem"><a href="/contact/">Talk to Me</a></div>
  <div role="listitem"><a href="/whats-in-my-bag/">What’s in My Bag</a></div>
  <div role="listitem"><a href="/about/#colophon">Colophon</a></div>
  <div role="listitem"><a href="/site-map/">Site Map</a></div>
  <div role="listitem"><a href="/legal/terms-of-use/" rel="terms-of-service">Terms of Use</a></div>
  <div role="listitem"><a href="/legal/privacy/" rel="privacy-policy">Privacy</a></div>
  </cluster-l>
</nav>
