<nav id="nav-secondary" class="header-footer" aria-label="secondary">
  <cluster-l role="list" justify="space-between" space="var(--s3)">
  <div role="listitem"><a href="/contact/">Talk to Me</a></div>
  <div role="listitem"><a href="/whats-in-my-bag/">What’s in My Bag</a></div>
  <div role="listitem"><a href="/site-map/">Site Map</a></div>
  <div role="listitem"><a href="/legal/terms-of-use/">Terms of Use</a></div>
  <div role="listitem"><a href="/legal/privacy/">Privacy</a></div>
  </cluster-l>
</nav>
