<form action="https://formspree.io/f/mzzrblya" id="okie-x-artist-survey" method="POST" aria-labelledby="#okie-x-artist-s-survey">
  <stack-l>
    <fieldset><legend>Who are you?</legend>
      <stack-l>
        <div class="cf-turnstile" data-sitekey="0x4AAAAAACNtFDIpDzvzMXIR" data-callback="enableSubmit"></div>
        <div>
          <label for="name">What is your name?<span>*</span></label>
          <input
            type="text"
            id="name"
            name="name"
            maxLength="256"
            autocorrect="off"
            spellcheck="false"
            autocomplete="name"
            required
          />
        </div>
        <div>
          <label for="email">What is your email address?<span>*</span></label>
          <input
            type="email"
            id="email"
            name="email"
            maxLength="256"
            autocapitalize="none"
            autocorrect="off"
            spellcheck="false"
            autocomplete="email"
            required
          />
        </div>
        <div>
          <label for="phone">What is your mobile phone number?<span>*</span></label>
        <input
            type="tel"
            id="phone"
            name="phone"
            autocapitalize="none"
            autocomplete="tel"
            autocorrect="off"
            spellcheck="false"
            pattern="(1[\s\.\-]?)?([0-9]{3}|\([0-9]{3}\))[\s\.\-]?[0-9]{3}[\s\.\-]?[0-9]{4}"
            title="Enter a 10 or 11–digit phone number with optional country code. Only numerals, spaces, periods, parentheses, and dashes are allowed."
            required
          />
        </div><small>Enter a 10 or 11–digit phone number with optional country code. Only numerals, spaces, periods, parentheses, and dashes are allowed.</small>
      </stack-l>
    </fieldset>
    <fieldset><legend>Tell us a little about your musical self</legend>
      <stack-l>
        <label for="artist-name">If you are a solo performer who doesn’t perform under your birth name, what is your artist name?</label>
        <input
          type="text"
          id="artist-name"
          name="artist-name"
          maxLength="256"
        />
        <fieldset><legend>Are you currently in a band?</legend>
          <label for="band-yes" class="form-control">
            <input
              type="radio"
              id="band-yes"
              name="in-band"
              value="Yes"
            />
            Yes
            </label>
          <label for="band-no" class="form-control">
            <input
              type="radio"
              id="band-no"
              name="in-band"
              value="No"
            />
            No
          </label>
        </fieldset>
        <stack-l>
          <label for="band-names">If you answered “Yes,” what is your band name (separate multiple items with commas)?</label>
          <textarea
            id="band-names"
            name="band-names"
            maxLength="4096"
          ></textarea>
        </stack-l>
        <stack-l>
          <label for="former-bands">List any bands you have played with in the past (i.e., been a member of) (separate multiple items with commas)</label>
          <textarea
            id="former-bands"
            name="former-bands"
            maxLength="4096"
          ></textarea>
        </stack-l>
        <stack-l>
          <label for="genres">What musical genre(s) do you perform (separate multiple items with commas)?</label>
          <textarea
            id="genres"
            name="genres"
            maxLength="4096"
          ></textarea>
        </stack-l>
        <stack-l>
          <label for="instruments">What instrument(s) do you play (separate multiple items with commas)?</label>
          <textarea
            id="instruments"
            name="instruments"
            maxLength="4096"
          ></textarea>
        </stack-l>
        <fieldset><legend>I am a (check all that apply):</legend>
          <label for="singer" class="form-control">
            <input
              type="checkbox"
              id="singer"
              name="skills"
              value="Singer"
            />
            Singer
          </label>
          <label for="rapper" class="form-control">
            <input
              type="checkbox"
              id="rapper"
              name="skills"
              value="Rapper"
            />
            Rapper
          </label>
          <label for="songwriter" class="form-control">
            <input
              type="checkbox"
              id="songwriter"
              name="skills"
              value="Songwriter"
            />
            Songwriter
          </label>
          <label for="composer" class="form-control">
            <input
              type="checkbox"
              id="composer"
              name="skills"
              value="Composer"
            />
            Composer
          </label>
          <label for="dj" class="form-control">
            <input
              type="checkbox"
              id="dj"
              name="skills"
              value="DJ"
            />
            DJ
          </label>
          <label for="producer" class="form-control">
            <input
              type="checkbox"
              id="producer"
              name="skills"
              value="Producer"
            />
            Producer
          </label>
        </fieldset>
      </stack-l>
    </fieldset>
    <fieldset><legend>What's your Oklahoma connection?</legend>
      <stack-l>
        <fieldset><legend>Do you currently live in Oklahoma?</legend>
          <label for="okie-yes" class="form-control">
            <input
              type="radio"
              id="okie-yes"
              name="okie"
              value="Yes"
            />
            Yes
          </label>
          <label for="okie-no" class="form-control">
            <input
              type="radio"
              id="okie-no"
              name="okie"
              value="No"
            />
            No
          </label>
        </fieldset>
        <stack-l>
          <label for="hometown">If you answered “Yes,” enter your current town. If you answered “No,” enter your former Oklahoma hometown</label>
          <input
            type="text"
            id="hometown"
            name="hometown"
            maxLength="256"
          >
        </stack-l>
        <stack-l>
          <label for="current-home">If you answered “No,” enter your current town and state</label>
          <input
            type="text"
            id="current-home"
            name="current-home"
            maxLength="256"
          >
        </stack-l>
      </stack-l>
    </fieldset>
    <fieldset><legend>Okay, let's finish this!</legend>
      <stack-l>
        <div class="sr-only">
          <label for="udedhllduoox">Skip this field if you’re human</label>
          <input
            type="text"
            id="udedhllduoox"
            name="_gotcha"
            maxLength="64"
          />
        </div>
        <stack-l><label for="message">Type any additional comments or information here.</label>
          <textarea
            id="message"
            name="message"
            rows="10"></textarea>
        </stack-l>

Maximum <span id="msg-max">$</span> characters. Total Characters remaining: <span id="msg-counter">$</span>
      </stack-l>
    </fieldset><stack-l><p><span class="required">*</span>By submitting this survey, I accept Mercury Photo Bureau’s [Privacy Policy](/legal/privacy/) and [Terms of Use](/legal/terms-of-use/), and I agree that the information I provide may be publicly displayed.</p><div><label for="acceptance" class="form-control"><input
            type="checkbox"
            id="acceptance"
            name="acceptance"
            value="I accept"
            required
          />I accept</label><div id="validation-error-terms" class="validation-error" hidden tabindex="-1"><icon-l class="bigger"><span class="with-icon icon-sprite"><svg><use xlink:href="#icon-error"/></svg></span> You must agree to our terms and privacy policy</icon-l></div>
      </div></stack-l><button
        id="btnSubmit"
        class="button button-primary">Send it!</button>
    </stack-l>
</form>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

<script src="/assets/js/message-counter.js"></script>
