<svg hidden xmlns="http://www.w3.org/2000/svg" id="icon-sprite">
  <defs>
    <symbol id="icon-error" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="var(--mpb-color-textPrimary)" d="M256.5 0c14.7 0 28.2 8.1 35.2 21l216 400c6.7 12.4 6.4 27.4-.8 39.5S486.6 480 472.5 480l-432 0c-14.1 0-27.1-7.4-34.3-19.5s-7.5-27.1-.8-39.5l216-400c7-12.9 20.5-21 35.2-21zM53.9 432L459.1 432 256.5 56.8 53.9 432zm202.6-40a32 32 0 1 1 0-64 32 32 0 1 1 0 64zm0-208c18.6 0 33 16.1 31 34.6l-7.1 64.1C279 294.8 268.7 304 256.5 304s-22.5-9.2-23.8-21.3l-7.1-64.1c-2-18.5 12.4-34.6 31-34.6z"/></symbol>
  </defs>
</svg>



<form action="https://formspree.io/f/mzzrblya" id="okie-x-artist-survey" method="POST" aria-labelledby="#okie-x-artist-s-survey">
  <stack-l>
    <fieldset><legend>Who are you?</legend>
      <stack-l>
        <div>
          <label for="name">What is your name?<span>*</span></label>
          <input
            id="name"
            type="text"
            name="name"
            maxLength="256"
            autocorrect="off"
            spellcheck="false"
            autocomplete="name"
            required
          />
        </div><div id="validation-error-name" class="validation-error" hidden tabindex="-1"><icon-l class="bigger"><span class="with-icon icon-sprite"><svg><use xlink:href="#icon-error"/></svg></span> Please tell us your name</icon-l></div>
        <div>
          <label for="email">What is your email address?<span>*</span></label>
          <input
            id="email"
            type="email"
            name="email"
            maxLength="256"
            autocapitalize="none"
            autocorrect="off"
            spellcheck="false"
            autocomplete="email"
            required
          />
        </div><div id="validation-error-email" class="validation-error" hidden tabindex="-1"><icon-l class="bigger"><span class="with-icon icon-sprite"><svg><use xlink:href="#icon-error"/></svg></span> Please provide a valid email address</icon-l></div>
        <div>
          <label for="phone">What is your mobile phone number?<span>*</span></label>
          <input
            id="phone"
            type="tel"
            name="phone"
            autocapitalize="none"
            autocorrect="off"
            spellcheck="false"
            autocomplete="tel"
            pattern="([0-9]{3}) [0-9]{3}-[0-9]{4}"
            required
          /><small>Example: (555) 555-5555</small>
        </div><div id="validation-error-phone" class="validation-error" hidden tabindex="-1"><icon-l class="bigger"><span class="with-icon icon-sprite"><svg><use xlink:href="#icon-error"/></svg></span> Please provide a valid telephone number, starting with the area code</icon-l></div>
      </stack-l>
    </fieldset>
    <fieldset><legend>Tell us a little about your musical self</legend>
      <stack-l>
        <div>
          <label for="artist-name">If you are a solo performer who doesn’t perform under your birth name, what is your artist name?</label>
          <input
            id="artist-name"
            type="text"
            name="artist-name"
            maxLength="256"
          />
        </div>
        <fieldset><legend>Are you currently in a band?</legend>
          <label for="band-yes" class="form-control">
            <input
              id="band-yes"
              type="radio"
              name="in-band"
              value="Yes"
            />
            Yes
            </label>
          <label for="band-no" class="form-control">
            <input
              id="band-no"
              type="radio"
              name="in-band"
              value="No"
            />
            No
          </label>
        </fieldset>
        <stack-l>
          <label for="band-names">If you answered “Yes,” what is your band name (separate multiple items with commas)?</label>
          <textarea
            id="band-names"
            name="band-names"
            maxLength="4096"
          >
          </textarea>
        </stack-l>
        <stack-l>
          <label for="former-bands">List any bands you have played with in the past (i.e., been a member of) (separate multiple items with commas)</label>
          <textarea
            id="former-bands"
            name="former-bands"
            maxLength="4096"
          >
          </textarea>
        </stack-l>
        <stack-l>
          <label for="genres">What musical genre(s) do you perform (separate multiple items with commas)?</label>
          <textarea
            id="genres"
            name="genres"
            maxLength="4096"
          >
          </textarea>
        </stack-l>
        <stack-l>
          <label for="instruments">What instrument(s) do you play (separate multiple items with commas)?</label>
          <textarea
            id="instruments"
            name="instruments"
            maxLength="4096"
          >
          </textarea>
        </stack-l>
        <fieldset><legend>I am a (check all that apply):</legend>
          <label for="singer" class="form-control">
            <input
              id="singer"
              type="checkbox"
              name="skills"
              value="Singer"
            />
            Singer
          </label>
          <label for="rapper" class="form-control">
            <input
              id="rapper"
              type="checkbox"
              name="skills"
              value="Rapper"
            />
            Rapper
          </label>
          <label for="songwriter" class="form-control">
            <input
              id="songwriter"
              type="checkbox"
              name="skills"
              value="Songwriter"
            />
            Songwriter
          </label>
          <label for="composer" class="form-control">
            <input
              id="composer"
              type="checkbox"
              name="skills"
              value="Composer"
            />
            Composer
          </label>
          <label for="dj" class="form-control">
            <input
              id="dj"
              type="checkbox"
              name="skills"
              value="DJ"
            />
            DJ
          </label>
          <label for="producer" class="form-control">
            <input
              id="producer"
              type="checkbox"
              name="skills"
              value="Producer"
            />
            Producer
          </label>
        </fieldset>
      </stack-l>
    </fieldset>
    <fieldset><legend>What's your Oklahoma connection?</legend>
      <stack-l>
        <fieldset><legend>Do you currently live in Oklahoma?</legend>
          <label for="okie-yes" class="form-control">
            <input
              id="okie-yes"
              type="radio"
              name="okie"
              value="Yes"
            />
            Yes
          </label>
          <label for="okie-no" class="form-control">
            <input
              id="okie-no"
              type="radio"
              name="okie"
              value="No"
            />
            No
          </label>
        </fieldset>
        <stack-l>
          <label for="hometown">If you answered “Yes,” enter your current town. If you answered “No,” enter your former Oklahoma hometown</label>
          <input
            type="text"
            id="hometown"
            name="hometown"
            maxLength="256"
          >
        </stack-l>
        <stack-l>
          <label for="current-home">If you answered “No,” enter your current town and state</label>
          <input
            type="text"
            id="current-home"
            name="current-home"
            maxLength="256"
          >
        </stack-l>
      </stack-l>
    </fieldset>
    <fieldset><legend>Okay, let's finish this!</legend>
      <stack-l>
        <div class="sr-only">
          <label for="udedhllduoox">Skip this field if you’re human</label>
          <input
            id="udedhllduoox"
            type="text"
            name="gotcha"
            maxLength="64"
          />
        </div>
        <div><label for="message">Type any additional comments or information here.</label>
          <textarea
            id="message"
            name="message"
            maxLength="4096"
            rows="10">
          </textarea>
        </div>

Maximum 4096 characters. Total Characters remaining: <span id="counter">4096</span>
      </stack-l>
    </fieldset>
    <stack-l><p><span class="required">*</span>By submitting this survey, I accept Mercury Photo Bureau’s [Privacy Policy](/legal/privacy/) and [Terms of Use](/legal/terms-of-use/), and I agree that the information I provide may be publicly displayed.</p><div><label for="acceptance" class="form-control"><input
            id="acceptance"
            type="checkbox"
            name="acceptance"
            value="I accept"
            required
          />I accept</label><div id="validation-error-terms" class="validation-error" hidden tabindex="-1"><icon-l class="bigger"><span class="with-icon icon-sprite"><svg><use xlink:href="#icon-error"/></svg></span> You must agree to our terms and privacy policy</icon-l></div>
      </div></stack-l><button
      id="submit"
      name="submit"
      class="g-recaptcha button button-primary"
      data-sitekey="6Lekt4AUAAAAAPOg3FNiArnM5ky35MGBAxJujirj"
      data-callback="onSubmit"
      data-action="submit">Send it!</button>
    </stack-l>
</form>

<script>
  const textarea   = document.getElementById(`message`);
  const counter    = document.getElementById(`counter`);
  const form       = document.getElementById(`okie-x-artist-survey`);
  const name       = document.getElementById(`name`);
  const email      = document.getElementById(`email`);
  const phone      = document.getElementById(`phone`);
  const terms      = document.getElementById(`acceptance`);
  const nameError  = document.getElementById(`validation-error-name`);
  const emailError = document.getElementById(`validation-error-email`);
  const phoneError = document.getElementById(`validation-error-phone`);
  const termsError = document.getElementById(`validation-error-terms`);
  const phoneRegex = /(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})/g
  const emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/g

  textarea.addEventListener(`keyup`, countCharacters, false);

  function countCharacters() {
      const text          = textarea.value;
      const textLength    = text.length;
      const textMax       = 4096;
      const textRemaining = (textMax - textLength);
      counter.innerText   = `${textRemaining}`;
  }

form.addEventListener(`submit`, function(event) {
    let err;
    if (name.value == ``) {
      err = true;
      nameError.removeAttribute(`hidden`);
      nameError.classList.add(`invalid`);
   } else if (!nameError.hasAttribute(`hidden`)) {
      err = false;
      nameError.setAttribute(`hidden`, ``);
      nameError.classList.remove(`invalid`);
    };

    if ((email.value == ``) || (!emailRegex.test(email.value))) {
      err = true;
      emailError.removeAttribute(`hidden`);
      emailError.classList.add(`invalid`);
   } else {
      err = false;
      emailError.setAttribute(`hidden`, ``);
      emailError.classList.remove(`invalid`);
    };

    if ((phone.value == ``) || (!phoneRegex.test(phone.value))) {
      err = true;
      phoneError.removeAttribute(`hidden`);
      phoneError.classList.add(`invalid`);
   } else {
      err = false;
      phoneError.setAttribute(`hidden`, ``);
      phoneError.classList.remove(`invalid`);
    };

    if (!terms.checked) {
      err = true;
      termsError.removeAttribute(`hidden`);
      termsError.classList.add(`invalid`);
   } else if (!termsError.hasAttribute(`hidden`)) {
      err = false;
      termsError.setAttribute(`hidden`, ``);
      termsError.classList.remove(`invalid`);
    };

    if (err == true) {
      event.preventDefault();
    };

    const invalid = document.getElementsByClassName(`invalid`)[0];
    if (invalid) {
      invalid.focus();
    };
  });
</script>
