<form action="https://formspree.io/f/myzendvv" id="okie-x-artist-inquiry" method="POST">
  <fieldset><legend>All fields are required</legend>
    <stack-l>
      <fieldset><legend>Who are you?</legend>
        <stack-l>
          <div class="cf-turnstile" data-sitekey="0x4AAAAAACNtFDIpDzvzMXIR" data-callback="enableSubmit"></div>
          <div>
            <label for="name">Name<span>*</span></label>
            <input
              type="text"
              id="name"
              name="name"
              maxLength="256"
              autocorrect="off"
              spellcheck="false"
              autocomplete="name"
              required
            />
          </div>
          <div>
            <label for="email">Email<span>*</span></label>
            <input
              type="email"
              id="email"
              name="email"
              maxLength="256"
              autocapitalize="none"
              autocorrect="off"
              spellcheck="false"
              autocomplete="email"
              required
            />
          </div>
          <div>
            <label for="phone">Mobile Phone<span>*</span></label>
            <input
              type="tel"
              id="phone"
              name="phone"
              autocapitalize="none"
              autocomplete="tel"
              autocorrect="off"
              spellcheck="false"
              pattern="(1[\s\.\-]?)?([0-9]{3}|\([0-9]{3}\))[\s\.\-]?[0-9]{3}[\s\.\-]?[0-9]{4}"
              title="Enter a 10 or 11–digit phone number with optional country code. Only numerals, spaces, periods, parentheses, and dashes are allowed."
              required
            />
          </div><small>Enter a 10 or 11–digit phone number with optional country code. Only numerals, spaces, periods, parentheses, and dashes are allowed.</small>
        </stack-l>
      </fieldset>
      <fieldset><legend>What’s on your mind?</legend>
        <stack-l>
          <div>
            <label for="subject">Subject<span>*</span></label>
            <input
              type="text"
              id="subject"
              name="subject"
              maxLength="256"
              required
            />
          </div>
          <div class="sr-only">
            <label for="pzoijrekdi">Skip this field if you’re human<span>*</span></label>
            <input
              id="pzoijrekdi"
              type="text"
              name="_gotcha"
              maxLength="64"
            />
          </div>
          <div>
            <label for="message">Message<span>*</span></label>
            <textarea
              id="message"
              name="message"
              rows="10"
              required></textarea>
          </div>

  Maximum <span id="msg-max">$</span> characters. Total Characters remaining: <span id="msg-counter">$</span>
        </stack-l>
      </fieldset>
      <button
        class="button button-primary"
        id="btnSubmit">Send it!</button>
    </stack-l>
  </fieldset>
</form>
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
<script src="/assets/js/message-counter.js"></script>
