        <aside class="recent-posts" id="recent-posts" data-pagefind-ignore>
          <center-l max="110ch">
            <stack-l>
              <center-l>
                <h2 class="aligncenter">Recent Posts</h2>
              </center-l>
              <ul class="blog-index" role="list">
              {%- for post in collections.blog | sortByPubDate | reverse | limit(4) -%}
                <li role="listitem">
                  <stack-l>
                    <h3><a href="{{ post.url }}">{{ post.data.title | safe }}</a></h3>
                    <a href="{{ post.url }}">
                      {%
                        getThumbnail post.data.image, {
                          outputDir: post.url,
                          alt: post.data.title,
                          loading: "lazy",
                          fetchpriority: "auto"
                        }
                      %}
                    </a>
                    <small>
                      {% if post.data.pubdate %}
                        <time datetime="{{ post.data.pubdate | toISOString | safe }}">{{ post.data.pubdate | dateUK | safe }}</time>
                      {% else %}
                        No publication date found.
                      {% endif %}
                    </small>
                    <p>{{ post.data.excerpt | safe }}</p><!-- No break here -->{% include "_tags-buttons.njk" %}
                  </stack-l>
                </li>
              {%- endfor -%}
              </ul>
            </stack-l>
          </center-l>
        </aside>
