<aside id="support-site-wrapper">
  <stack-l>
    <hr class="hr-fancy" />
    <h2 id="support-this-site">Support This Site</h2>
    <p>Help us to keep bringing you great articles, news, and pictures by making purchases through our affiliate links to <a href="https://music.apple.com/us/subscribe?at=10ldhk" target="_blank" rel="external noopener">Apple Music</a>, <a href="https://www.adorama.com/?kbid=67690" target="_blank" rel="external noopener">Adorama</a>, <a href="https://www.bhphotovideo.com/find/coupons-deals-promotions.jsp/BI/19462/KBID/11656/DFF/d10-v1-t8-x1-y17" target="_blank" rel="external noopener"><abbr>B&amp;H</abbr> Photo &amp;&nbsp;Video</a>, and <a href="https://leicastoremiami.com/#a_aid=504a17652889d" rel="external noopener" target="_blank">Leica Store Miami</a>.</p>
  </stack-l>
</aside>
