<h3>Tags</h3>
<div id="tags-wrapper" data-pagefind-ignore>
  <p id="tags-inner">
    {% for tag in tags -%}
      {% if tag !== 'blog' %}
        <span class="tags-sep"><a href="/blog/tags/{{ tag | slugify | safe }}" data-pagefind-weight="0.5">{{ tag | safe }}</a></span>
      {% endif %}
    {%- endfor %}
  </p>
</div>
<hr />
