---
layout: layout-no-sidebar.njk
---
<main id="main" data-pagefind-body>
  <article class="post" data-pagefind-body>
    <stack-l>
      {{ content | safe }}
      <hr />
    </stack-l>
  </article>
</main>
