/**
 * Layout > Text > Appearance > Animation > Generated Content > Other
 * Appearance includes color, background, border, outline, list-style, & cursor
 *
 * Block elements
 * 1.  view transitions
 * 2.  root, html, body
 * 3.  h1 – h6, hgroup
 * 4.  p
 * 5.  b, i, strong, em
 * 6.  blockquote
 * 7.  ol, ul, dt
 * 8.  details, summary
 * 9.  table
 * 10. form, inline form elements (input, textarea, button, select, option,
 *     optgroup, fieldset, label, output)
 * 11.  pre
 * 12. kbd
 * 13. figure, picture, img, canvas, video, svg
 * 14. dialog
 * 15. iframe
 * 16. Every Layout custom elements
 *
 * Inline elements
 * 1.  a
 * 2.  code, math
 * 3.  strong, em
 * 4.  sub, sup
 * 5.  q, generated content
 * 6.  cite
 * 7.  small
 * 8.  mark
 * 9.  abbr
 * 10. ins, del
 *
 * Sectioning elements
 * 1. header
 * 2. footer
 * 3. main, article
 * 4. nav
 * 5. aside
 * 6. address
 * 7. section
 * 8. hr
 *
 * Pseudo-elements
 * 1. ::marker
 * 2. ::target-text
 *
 */

/**
 * Root
 */

::view-transition {
  pointer-events: none;
}

::view-transition-group(root) {
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}

/**
 * Block elements
 */

/* root, html, body */

:root {
  view-transition-name: none;
  color-scheme: dark light;
  interpolate-size: allow-keywords;
}

html,
body {
  block-size: 100%;
  display: grid; /* Needed to center things, e.g., modals */
}

html {
  color-scheme: light;
  padding-block: var(--s1);

  @media screen and (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &:has([data-disable-document-scroll="true"]) {
    overflow: hidden;
  }

  font-family: var(--mpb-font-default);
  font-weight: var(--normal, 500);
  font-style: normal;
  font-variant: normal;
  font-size: var(--mpb-size-textDefault);
  /* Don't let Safari on iOS for phones resize text in landscape orientation */
  /* Modern browsers allow users to zoom text with these rule */
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  color: var(--mpb-color-textPrimary);
  background-color: var(--mpb-color-textReverse);

  &[data-theme='dark'] {
    color-scheme: dark;
  }
  transition: background-color 0.1s ease, color 0.1s ease;

  @starting-style {
    transition: background-color 0s ease, color 0s ease;
  }
}

@media (prefers-reduced-motion) {
  html {
    transition: background-color 0s ease, color 0s ease;
  }
}

body {
  position: relative; /* Needed for sticky scroll position */
  padding-inline: .5rem;

  @media screen and (min-width: 42rem) {
    padding-inline: 1rem;
  }

  font-optical-sizing: auto;
  font-variant-ligatures: common-ligatures discretionary-ligatures historical-ligatures contextual;
  font-kerning: normal;
  font-variant-numeric: proportional-nums oldstyle-nums diagonal-fractions;
}

/* h1 – h6 */
h1, h2, h3, h4, h5, h6 {
  font-variant-numeric: lining-nums;
  line-height: 1.1;
  text-wrap: balance;
  break-after: avoid;
}

h1, h2, h3 {
  font-family: var(--mpb-font-display);
  font-weight: var(--bold, 700);

  .small-caps {
    font-family: var(--mpb-font-display-sc);
    font-variant: normal;
  }
}

h4, h5, h6 {
  font-style: italic;
}

h1 {
  font-size: var(--mpb-font-size-5);
}

h2 {
  font-size: var(--mpb-font-size-4);
}

h3 {
  font-size: var(--mpb-font-size-3);
}

h4 {
  font-size: var(--mpb-font-size-2);
}

h5 {
  font-size: var(--mpb-font-size-1);
}

h6 {
  font-size: var(--mpb-font-size-0);
}

hgroup {
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    font-size: var(--mpb-font-size-2);
    font-style: italic;
  }

  h4 + p,
  h5 + p,
  h6 + p {
    font-style: italic;
  }
}

/* p */
p {
  text-wrap: pretty;

  &:empty {
    display: none;
  }
}

b, strong {
  font-weight: var(--bold, 700);

  h1,
  h2,
  h3 {
    font-weight: var(--xbold, 900);
  }
}

i, em {
  font-style: italic;
}

/* blockquote */
blockquote {
  text-indent: -0.45em;
  margin-inline: 2.5rem;
  quotes: "\201C" "\201D" "\2018""\2019";

  &::before {
    position: relative;
    inset-inline-start: -.75ch;
    inset-block-start: 2ex;
    font-size: 2rem;
    content: open-quote;
  }

  &::after {
    content: no-close-quote;
  }

  & p:not(:last-child) {
    margin-block-end: var(--s1);
  }
}

@supports (hanging-punctuation: first) {
  blockquote {
    text-indent: 0;
    hanging-punctuation: first allow-end last;
  }
}

/* ol, ul, dt */

.search-instructions ol ol {
  list-style-type: upper-alpha;
}

dl {
  margin-block-start: 0;
}

dt {
  font-family: MerriweatherSans, var(--mpb-font-sans);
  line-height: 1.1;
  text-wrap: balance;
}

dt,
dd,
ul:not(.blog-index),
ol {
  break-inside: avoid;
}

dt {
  margin-inline-start: var(--s1);

  font-size: var(--mpb-font-size-1);
  font-weight: var(--bold, 700);

  break-after: avoid;

  &.no-break {
    break-before: avoid;
  }

  &:not(:first-child) {
    margin-block-start:  var(--s1);
  }

  &+dt:not(:first-child) {
    margin-block-start: 0;
  }

  & p:last-of-type {
    margin-block-end: 0;
  }
}

dd {
  margin-inline-start: var(--s3);

  &:last-of-type {
    margin-block-end: var(--s1);
  }

  p:last-of-type {
    margin-block-end: 0;
  }

  &+dd {
    break-before: avoid;

    & span.spacer {
      display: block;
      margin-block-start: var(--s1);
    }
  }
}

/* details, summary */
details {
  block-size: 2.5rem;
  inline-size: fit-content;
  max-inline-size: 100%;
  padding-inline: var(--s0);
  padding-block: var(--s-4);
  margin-block-end: var(--s3);

  transition: block-size 0.5s ease;

  pre {
    white-space: pre-wrap;
    -webkit-hyphens: manual;
    hyphens: manual;
  }

  > * {
    padding: var(--s1);

    border: var(--s-5) solid var(--mpb-color-textPrimary);
    border-start-end-radius: var(--mpb-radius-1x);
    border-end-start-radius: var(--mpb-radius-1x);
    border-end-end-radius: var(--mpb-radius-1x);
  }

  &[open] {
    block-size: auto;
    overflow: clip; /* Clip off contents while animating */

    summary {
      border-radius: var(--mpb-radius-1x) var(--mpb-radius-1x) 0 0;

      &::after {
        transform: rotate(90deg);
      }
    }
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    &::details-content {
      transition: block-size 0.5s ease, content-visibility 0.5s ease allow-discrete;
      block-size: 0;
      overflow: clip;
    }

    &::details-content:focus-within {
      outline: 3px solid var(--mpb-color-accent);
    }

    &[open]::details-content {
      block-size: auto;
    }
  }
}

summary {
  display: inline-flex;
  align-items: safe center;
  padding-block: var(--s-4);
  padding-inline: var(--s1);

  font-family: var(--mpb-font-sans);
  text-transform: uppercase;
  text-wrap: balance;

  color: var(--mpb-color-textSecondary);
  background-color: var(--mpb-color-textPrimary);
  border-radius: var(--mpb-radius-1x);

  list-style: none;
  cursor: pointer;

  &::after {
    width: 1rem; /* Don't use logical property; this is an image */
    margin-left: var(--s1);

    content: var(--mpb-details-marker);

    transition: 0.2s;
  }

  &::-webkit-details-marker {
    display: none;
  }
}

/* table */

table {
  font-family: var(--mpb-font-mono);
  border: 1px solid var(--mpb-color-textPrimary);
  border-collapse: collapse;
}

table, tr {
  border-block-end: 1px solid var(--mpb-color-textPrimary);
}

th {
  color: var(--mpb-color-textSecondary);
  background-color: var(--mpb-color-textPrimary);

  a,
  a:visited {
    color: var(--mpb-color-textSecondary);
  }
}

th, td {
  padding-inline: 1em;
  padding-block: .5em;
  font-variant-numeric: tabular-nums lining-nums slashed-zero;
}

th:not(:last-of-type),
th:first-of-type:not(.no-border) {
  border-inline-end: 1px solid var(--mpb-color-textSecondary);
  border-block-end: 1px solid var(--mpb-color-textSecondary);

}

td:not(:last-of-type),
.td-with-border {
  border-inline-end: 1px solid var(--mpb-color-textPrimary);
}

#measure-volume {

  th:nth-of-type(1),
  th:nth-of-type(2) {
    min-width: 11ch;
  }


  td {

    &:not(.alignleft) {
      text-align: end;
    }

    vertical-align:  top;
  }

  tr.row-divider {
    border-block-start: medium double;
  }
}

/* form */
input,
textarea,
select {

  &:not(#searchField) {
    inline-size: fit-content;
    max-inline-size: 100%;
    field-sizing: content;
    min-inline-size: 24ch;

    &[type="checkbox"],
    &[type="radio"] {
      min-inline-size: initial;
    }

  }

  font-family: var(--mpb-font-mono);
  line-height: 1.1;

  color: var(--mpb-color-textPrimary);
  background-color: var(--mpb-color-textSecondary);
  border: solid 2px var(--mpb-color-textPrimary);
  border-radius: var(--mpb-radius-1x);
}

input {

  &:not(.pagefind-ui__search-input) {
    padding-inline: var(--s0);
  }

  padding-block: var(--s-5);
}

.radio-wrapper,
.checkbox-wrapper {
  display: flex;

  input {
    margin-inline-end: var(--s-5);
  }

  label {
    display: inline-block;
  }
}

select{
  min-block-size: 1.5rlh;
}

textarea {
  padding: var(--s0);
  min-block-size: 5rlh;
  resize: both;
}

label {
  display: block;
}

fieldset {
  padding-block: var(--s1);
  border: 1px solid currentColor;
  border-radius: var(--mpb-radius-1x);
}

legend {
  font-family: var(--mpb-font-display);
  font-size: var(--mpb-font-size-2);
}

button,
.button,
label {
  font-family: MerriweatherSans, var(--mpb-font-sans);
  font-variant-numeric: tabular-nums lining-nums slashed-zero;

  & a {
    text-decoration: none;
  }
}

button,
.button {
  inline-size: fit-content;
  padding-inline: var(--s0);
  padding-block: var(--s-2);

  font-size: var(--mpb-font-size--1);
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: .05ch;

  border: solid 2px transparent;
  border-radius: var(--mpb-radius-1x);
  appearance: none;
  -webkit-appearance: none;

  &:hover {
    cursor: pointer;
  }

  &.button-primary {
    color: var(--mpb-color-textSecondary);
    background-color: var(--mpb-color-textPrimary);

    &:hover,
    &:active {
      color: var(--mpb-color-hoverSecondary);
      background-color: var(--mpb-color-hoverPrimary);
    }

    a {
      color: var(--mpb-color-textSecondary);
      font-family: var(--mpb-font-sans);
      text-decoration: none;

      &:hover,
      &:active {
        color: var(--mpb-color-hoverSecondary);
      }
    }
  }

  &.button-secondary {
    color: var(--mpb-color-textPrimary);
    background-color: var(--mpb-color-textSecondary);
    border-color: var(--mpb-color-textPrimary);

    &:hover,
    &:active {
      color: var(--mpb-color-hoverPrimary);
      background-color: var(--mpb-color-hoverSecondary);
    }
  }

  &.pagefind-ui__search-clear {
    position: relative;
    inset-inline-start: -1.75em;
    padding: 0;
    margin-inline-end: -.25em;
    min-inline-size: 24px;
    min-block-size: 24px;
    color: var(--mpb-color-textPrimary);
    background: transparent;

    &:hover {
      cursor: pointer;
    }
  }
}

@supports (text-box: trim-both cap alphabetic) {
  button {
    padding-block: var(--s0);
    text-box: trim-both cap alphabetic;
  }
}

button.pagefind-ui__search-clear:hover {
  cursor: pointer;
}

label span,
.required {
  color: var(--mpb-color-accent);
  font-size: 2em;
  line-height: 1;
  vertical-align: text-top;
}

/* kbd */
kbd {
  padding: .15rem .3rem;

  font: 80% var(--mpb-font-mono);

  color: var(--mpb-color-textPrimary);
  background-color: var(--mpb-color-textSecondary);
  border: 1px solid var(--mpb-color-textPrimary);
  border-radius: var(--mpb-radius-1x);
  box-shadow: inset 0 -1px 0 var(--mpb-color-textPrimary);
}

/* figure, picture, img, canvas, video, svg */
figure {
  padding-block-start: var(--s-1);
  padding-block-end: var(--s1);
  padding-inline: var(--s-1);
  background-color: var(--mpb-color-figureBG);

  & img {
    background-color: var(--mpb-color-imgBG);
  }
}

caption, figcaption {
  font-style: italic;
  font-size: smaller;

  & > cite {
    font-style: normal;

    &.short-work,
    &.full-citation {
      font-style: italic;
    }
  }
}

dialog figure img {
  --mpb-color-imgBG: oklch(var(--mpb-c-p-50));
}

picture {
  margin-block-end: var(--s1);
}

img {
  margin-inline: auto;
  object-fit: cover;
}

img[width][height] {
  block-size: auto; /* Preserve aspect ratio */
}

img[src$='.svg'] { /* Let SVG scale without boundaries */
  inline-size: 100%;
  block-size: auto;
  max-inline-size: none;
}

/* svg:not(#mpb-lettermark):not(#mpb-logo):not(#mpb-mask-icon):not(#noscript-icon):not(.submenu-indicator):not(#arrow-up):not(.accent),
svg:not(#mpb-lettermark):not(#mpb-logo):not(#mpb-mask-icon):not(#noscript-icon):not(.submenu-indicator):not(#arrow-up):not(.accent) path {
  fill: var(--mpb-color-textPrimary);
} */

svg.accent path {
  fill: var(--mpb-color-accent);
}

/* dialog */
dialog {
  color: var(--mpb-color-textPrimary);
}

/* Every Layout custom elements*/
icon-l {
  break-before: avoid;
  break-after: avoid;

  &::before,
  &::after {
    content: '\FEFF'; /* Word joiner */
  }

  &.bigger {
    align-items: safe center;

    & .icon,
    & .icon-sprite svg {
      width: 1.3459cap;
    }

    &.social .icon {
      width: 3cap;
    }
  }
}

/* iframe */
iframe {
  block-size: 100vh;
}

/**
 * Inline elements
 */

/* a (anchor) */
a,
a:visited {
  text-decoration-thickness: from-font;
  text-decoration-color: var(--mpb-color-accent);
  text-underline-offset: 0.2ex;
  color: var(--mpb-color-textPrimary);
}

a[href^='http://']:not([href*='mercury.photo']):not([href*='localhost']):not(.social-link):after,
a[href^='https://']:not([href*='mercury.photo']):not([href*='localhost']):not(.social-link):after {
  display: inline-block;
  margin-inline-start: .5ch;
  inline-size: 1ch;
  block-size: 1lh;

  content: '\2060' var(--mpb-external-icon) / 'Opens in new window';
}

/* code, math */
code, math {
  font-family: var(--mpb-font-mono);
  font-variant-numeric: tabular-nums lining-nums slashed-zero;
  -webkit-hyphens: manual;
  hyphens: manual;
}

/* sub, sup */
sub, sup {
  line-height: 1;
}

/* q, generated content */

:lang(en) > *,
:lang(en-US) > *,
:lang(pt-BR) {
  q {
    quotes: '\201C' '\201D' '\2018' '\2019';
  }
}

:lang(en-GB) > * {
  q {
    quotes: '\2018' '\2019' '\201C' '\201D';
  }
}

:lang(es) > * {
  quotes: '«' '»' '\201C' '\201D' '\2018' '\2019';
}

:lang(fr) > * {
   quotes: '«\00202F' '\00202F»' '“' '”';
}

:lang(de) > * {
  quotes: '\201E' '\201C' '\201A' '\2018';
}

:lang(es),
:lang(fr),
:lang(de),
:lang(pt-BR),
:lang(ty),
:lang(haw) {
  font-style: italic;
}

q {

  &::before {
    content: open-quote;
  }

  &::after {
    content: close-quote;
  }
}

mark {
  color: rgba(255, 255, 0, 1);
  background-color: var(--mpb-color-textPrimary);
}

[data-theme='dark'] {
  mark {
    color: var(--mpb-color-textSecondary);
    background-color: rgba(255, 255, 0, 1);;
  }
}

@media (forced-colors: active) {
  :where(mark) {
    color: HighlightText;
    background-color: Highlight;
  }
}

:where(abbr[title]) {
  cursor: help;
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

ins {
  background: linear-gradient(180deg, var(--mpb-color-textReverse) 65%, var(--mpb-color-highlight) 65%), linear-gradient(180deg, var(--mpb-color-textReverse) 65%, oklch(90% 0 0) 65%);
  text-decoration: none;
}

del {
  text-decoration-color: var(--mpb-color-accent);
  text-decoration-thickness: .2rem;
}

:where(del, ins, s)::before,
:where(del, ins, s)::after
{
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  content: "";
}

:where(s)::before {
  content: "stricken text start ";
}

:where(s)::after {
  content: " stricken text end";
}

:where(del)::before {
  content: "deletion start ";
}

:where(del)::after {
  content: " deletion end";
}

:where(ins)::before {
  content: "insertion start ";
 }

:where(ins)::after {
  content: " insertion end";
}

/**
 * Sectioning elements
 */

/* main, header, footer */
main {
  font-variant-numeric: proportional-nums oldstyle-nums;

  [aria-describedby='footnotes-label'] {
    font-variant-numeric: proportional-nums lining-nums;
  }
}

/* nav */
nav {
  font-family: var(--mpb-font-sans);

  & a {
    text-decoration: none;
  }
}

/* hr */
hr {
  border-color: var(--mpb-color-textPrimary);
}

address, caption {
  font-style: italic;
}

/**
 * Pseudo-elements
 */

/* :marker */
main ul li::marker {
  color: var(--mpb-color-accent);
}

/* :target-text */

::target-text {
  color: var(--mpb-color-textSecondary);
  background-color: var(--mpb-color-textPrimary);
}
