/**
 * Layout
 *
 * 1.  noscript
 * 2.  #skip-link, #skip-slideshow-link
 * 3.  Search
 * 3.  Theme toggle
 * 4.  #nav-primary-wrapper, #nav-secondary, .breadcrumbs-separator, #main-wrapper
 * 5.  .hero-hed
 * 6.  .recent-posts
 * 7   blog-index
 * 8.  .masonry
 * 9.  Columns (.col-2, .col-3, .col-4, .col-5)
 * 10.  hgroup
 * 11.  <dd> styles: .dd-add-space, dd+br
 * 12. .after-icon spacer
 * 13. .recipe-index
 * 14. #mpb-logo (footer icon)
 * 15. Footnotes & sidenotes
 * 16. Pagination
 * 17. Comments, author info, support cta, & footer
 * 18. Scroller
 * 19. Tag post excerpt
 * 20. Staff, OKIE-X, Sitemap, Tags
 * 21. Wedding prices
 * 22. Social
 * 23. Comments
 * 24. Type specimen
 */

#home {
  overflow-x: hidden;
}

/* No script */
noscript div {
  inline-size: fit-content;
  max-inline-size: 100ch;
  margin-inline: auto;
  padding: var(--s1);

  font-size: 2rem;
  font-weight: var(--bold, 700);
  line-height: 1.1;

  color: #fff;
  background-color: oklch(30% var(--mpb-alert-color-chroma) 19.75);

  svg {
    display: inline-block;
    margin-inline-end: 0.5ch;
    margin-block-start: calc(1ex - 1cap);

    vertical-align: middle;

    fill: #fff;
  }
}

/* #skip-link, #skip-slideshow-link */

#skip-link,
#skip-slideshow-link {
  position: relative;
}

#skip-link {
  inset-block-start: var(--s-5);
}

#skip-slideshow-link {
  inset-inline-start: var(--s2);
}

/* Header & Pagination Icons */

#header__mpb-lettermark-wrapper {
  svg {
    inline-size: 2rem;
  }
}

/* Search */
.pagefind-ui__search-input {
  appearance: none;
  -webkit-appearance: none;
  background-image: var(--mpb-icon-search);
  background-repeat: no-repeat;
  background-size: 1em;
  background-position: 0.5em center;

  &:focus,
  &:active {
    background-image: none;
  }
}

.fonts-stage-2 {
  .pagefind-ui__search-input {
    font-family: var(--mpb-font-mono);
  }
}

.pagefind-ui__search-input {
  max-inline-size: min(66vw, 22ch);
  padding-inline: var(--s0);
  padding-block: var(--s-5);

  line-height: 1.1;

  color: var(--mpb-color-textPrimary);
  background-color: var(--mpb-color-textSecondary);
  border: solid 2px var(--mpb-color-textPrimary);
  border-radius: var(--mpb-radius-1x);
}

.field {
  position: relative;
}

#search-hint__wrapper {
  align-items: safe center;
  display: flex;
  gap: 4px;
  justify-content: end;
  pointer-events: none;
  position: absolute;
  inset-inline-start: 10.3rem;
  inset-block-start: 0.275rem;

  & kbd {
    background-color: var(--mpb-color-textPrimary);
    border: 1px solid var(--mpb-color-textSecondary);
    color: var(--mpb-color-textSecondary);
  }
}

@media screen and (pointer: coarse) {
  #search-hint__wrapper {
    display: none;
  }
}

.pagefind-ui__drawer {
  position: absolute;
  z-index: 99;
  inline-size: clamp(100%, 60ch, 77vw);
  padding: var(--s0);

  background-color: var(--mpb-color-textSecondary);

  * {
    text-align: start;
  }

  fieldset:first-child {
    display: flex;
    flex-wrap: wrap;
  }

  &.pagefind-ui__hidden {
    display: none;
  }
}

.pagefind-ui__button {
  display: block;
  margin-top: var(--s1);
  margin-inline: auto;
}

/* Theme toggle based on
https://web.dev/articles/building/a-theme-switch-component */

.sun-and-moon {
  > .sun-beams {
    stroke: var(--mpb-color-textPrimary);
    stroke-width: 2px;
  }

  > :is(.moon, .sun) {
    fill: var(--mpb-color-textPrimary);
  }

  > :is(.moon, .sun, .sun-beams) {
    transform-origin: center center;
  }
}

#theme-toggle {
  margin-block-start: var(--toggle-margin-top);
  padding: 0;
  inline-size: var(--toggle-size);
  block-size: var(--toggle-size);
  min-inline-size: var(--toggle-min-size);
  min-block-size: var(--toggle-min-size);
  aspect-ratio: 1;

  -webkit-tap-highlight-color: transparent;
  background: none;
  border: none;
  border-radius: 50%;
  outline-offset: 5px;
  cursor: pointer;

  touch-action: manipulation;

  > svg {
    inline-size: 100%;
    block-size: 100%;

    stroke-linecap: round;
  }

  &:hover > .sun-and-moon > :is(.moon, .sun) {
    fill: var(--mpb-color-iconFillHover);
  }

  &:hover .sun-and-moon > .sun-beams {
    stroke: var(--mpb-color-iconFillHover);
  }
}

html[data-theme="dark"] .sun-and-moon {
  > .sun {
    transform: scale(1.75);
  }

  > .sun-beams {
    opacity: 0;
  }

  > .moon > circle {
    transform: translate(-7px);

    @supports (cx: 1px) {
      transform: translateX(0);
      cx: 17px;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .sun-and-moon {
    > .sun {
      transition: transform 0.5s var(--ease-elastic-3) 0.5s;
    }

    > .sun-beams {
      transition:
        transform 0.5s var(--ease-elastic-4),
        opacity 0.5s var(--ease-3) 0.5s;
    }

    .moon > circle {
      transition: cx 0.25s var(--ease-out-5) 0.5s;
    }
  }

  html[data-theme="dark"] .sun-and-moon {
    > .sun {
      transition: transform 0.25s var(--ease-out-5) 0.5s;
    }

    > .sun-beams {
      transform: rotate(-25deg);
      transition-duration: 0.15s;
    }

    > .moon > circle {
      transition-delay: 0.25s;
      transition-duration: 0.5s;
    }
  }
}

/* #nav-primary-wrapper, .breadcrumbs-separator, #main-wrapper */
#nav-primary-wrapper {
  padding-block-end: var(--s1);

  border-block-end: 1px solid var(--mpb-color-textPrimary);
}

#nav-secondary {
  inline-size: 100%;
}

.navigation {
  width: fit-content;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
  justify-content: flex-start;
  align-items: safe center;
  margin: 0;
  padding: 0;
}

.navigation__item {
  padding-inline-start: var(--s-1);
  padding-inline-end: var(--s2);
  list-style-type: none;
  display: flex;
  align-items: safe center;
  position: relative;
  text-align: start;
}

ul ul .navigation__item {
  padding-block: var(--s-1);
}

.navigation__item[data-expanded="true"] {
  box-shadow: var(--mpb-shadow-elevation-low);
}

.navigation__item[data-expanded="true"] > button {
  transform: scaleY(-1);
}

.navigation__link {
  display: flex;
  align-items: safe center;
  gap: var(--s-1);
  text-decoration: none;
  color: currentColor;
}

.navigation__link:hover,
.navigation__link:focus {
  text-decoration: underline;
}

.navigation__button {
  position: absolute;
  cursor: pointer;
  inset-inline-end: var(--s-5);
  border: none;
  background-color: transparent;
  display: flex;
  align-items: safe center;
  padding: 0;
}

.navigation__button > svg {
  width: 1.5rem;
}

.navigation__submenu {
  background-color: var(--mpb-color-textSecondary);
  position: absolute;
  padding: 0;
  inset-block-start: 100%;
  inset-inline-start: 0;
  width: 12.5rem;
  box-shadow: var(--mpb-shadow-elevation-low);
}

.navigation__submenu[aria-hidden="true"] {
  display: none;
}

.navigation__submenu > li:not(:last-child) {
  border-block-end: 1px solid var(--mpb-color-textPrimary);
}

.submenu-indicator {
  path {
    fill: var(--mpb-color-submenu-indicator);
  }

  polyline {
    color: var(--mpb-color-textPrimary);
  }
}

.breadcrumbs {
  [role="listitem"] {
    font-variant-numeric: lining-nums slashed-zero;
  }
}

.breadcrumbs-separator {
  opacity: 0.5;
}

#main-wrapper {
  inline-size: 100%;
}

/* .hero-hed */
.hero-hed {
  font-size: calc(var(--mpb-font-size-5) * 2);
  text-align: center;
}

/* .recent-posts */
h3 {
  font-size: var(--mpb-font-size-1);
}

/* .blog-index */

.fonts-stage-2 {
  .blog-index,
  .tags-button {
    font-family: var(--mpb-font-sans);

    li p {
      font-family: var(--mpb-font-default);
    }
  }
}

.blog-index {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  grid-gap: var(--s2);
  list-style-type: none;

  & a {
    text-decoration: none;
  }

  li {
    margin-block-end: var(--s1);

    stack-l {
      display: flex;
      flex-flow: column;
      block-size: 100%;
    }
  }

  .tags-button-wrapper {
    display: flex;
    flex-grow: 1;
    align-items: safe flex-end;
  }

  .tags-button {
    flex-grow: 1;
    padding-inline: var(--s-4);
    padding-block: 2px;
    border: 1px solid var(--mpb-color-textPrimary);
    border-radius: var(--mpb-radius-1x);
    font-size: 14px;
    text-align: center;
  }
}

main ul.blog-index li::marker {
  content: "";
}

/**
 * Masonry layout
 *
 * This code may need different syntax when masonry ships to browsers;
 * see https://github.com/w3c/csswg-drafts/issues/9041 and also commented
 * example code below
 */
.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--mpb-masonry-width));
  grid-gap: var(--mpb-masonry-gap);
  justify-content: center;
  padding: var(--mpb-masonry-gap);

  /* @supports (grid-template-rows: masonry) { */
  grid-template-rows: masonry;
  /* } */

  @supports (display: masonry) {
    /* Alternate syntax. */
    display: masonry;
    masonry-template-tracks: repeat(auto-fit, var(--mpb-masonry-width));
    gap: var(--mpb-masonry-gap);
  }

  > * {
    width: var(--mpb-masonry-width);
  }
}

/*
* Masonry syntax after feature ships to browsers:
*
* `display: masonry`, fall back to Flexbox
*
* All of the rules for this class are in the same place
*
* .masonry {
*   display: flex;
*   flex-wrap: wrap;
*   // The following lines will be ignored by browsers that don't understand
*   // masonry and applied by browsers that understand masonry, overriding the
*   // previous lines
*   display: masonry;
*   masonry-template: repeat(auto-fill, auto);
* }
*
* Masonry as part of Grid, fall back to Flexbox
*
* Rules for the class are split across different layers/queries, resulting in
* bulkier CSS and making it less efficient to update
*
* Media queries do not increase specificity, so make sure fallbacks are
* de-prioritized
*
* @layer fallbacks {
*   .masonry {
*      display: flex;
*      flex-wrap: wrap;
*   }
* }
*
* @supports (grid-template-rows: masonry) {
*  .masonry {
*      display: grid;
*      grid-template-rows: masonry;
*  }
* } */

/* Columns */
.col-2,
.col-3,
.col-4,
.col-5 {
  columns: 1;
  column-gap: var(--s-1);
}

div.col-2,
div.col-3,
div.col-4,
div.col-5 {
  margin-block-end: var(--s-1);
}

@media screen and (min-width: 62.25rem) {
  .col-2 {
    columns: 2;
  }

  .col-3 {
    columns: 3;
  }

  .col-4 {
    columns: 4;
  }

  .col-5 {
    columns: 5;
  }
}

/* hgroup */

hgroup h1 + p {
  text-wrap: balance;
}

/* <dd> styles */
.dd-add-space {
  dd + dd {
    margin-block-start: var(--s1);
  }
}

[data-i="Stack-var(--s1)false"] > dd + br {
  margin-block-start: 0;
}

/* .after-icon spacer */
.after-icon {
  display: inline-block;
  inline-size: 0.5ch;
}

/* #mpb-logo (footer icon) */
#mpb-logo-wrapper {
  margin-block: var(--s1);

  svg {
    inline-size: 6rem;
  }
}

/* Footnotes & sidenotes */

#space-occupier {
  min-inline-size: 30ch;
  height: 0;
  margin: 0;
}

.marginnotes-list {
  list-style: none;
}

a[id^="fnref"] {
  color: var(--mpb-color-accent);
  text-decoration: none;
}

#fnref1 {
  anchor-name: --fn-1;
}

#fnref2 {
  anchor-name: --fn-2;
}

#fnref3 {
  anchor-name: --fn-3;
}

#fnref4 {
  anchor-name: --fn-4;
}

#fnref5 {
  anchor-name: --fn-5;
}

#fnref6 {
  anchor-name: --fn-6;
}

#fnref7 {
  anchor-name: --fn-7;
}

#fnref8 {
  anchor-name: --fn-8;
}

#fnref9 {
  anchor-name: --fn-9;
}

#fnref10 {
  anchor-name: --fn-10;
}

#fnref11 {
  anchor-name: --fn-11;
}

#fnref12 {
  anchor-name: --fn-12;
}

#fnref13 {
  anchor-name: --fn-13;
}

#fnref14 {
  anchor-name: --fn-14;
}

#fnref15 {
  anchor-name: --fn-15;
}

#fnref16 {
  anchor-name: --fn-16;
}

#fnref17 {
  anchor-name: --fn-17;
}

#fnref18 {
  anchor-name: --fn-18;
}

#fnref19 {
  anchor-name: --fn-19;
}

#fnref20 {
  anchor-name: --fn-20;
}

#mnref\:1 {
  anchor-name: --mn-1;
}

#mnref\:2 {
  anchor-name: --mn-2;
}

#mnref\:3 {
  anchor-name: --mn-3;
}

#mnref\:4 {
  anchor-name: --mn-4;
}

#mnref\:5 {
  anchor-name: --mn-5;
}

#mnref\:6 {
  anchor-name: --mn-6;
}

#mnref\:7 {
  anchor-name: --mn-7;
}

#mnref\:8 {
  anchor-name: --mn-8;
}

#mnref\:9 {
  anchor-name: --mn-9;
}

#mnref\:10 {
  anchor-name: --mn-10;
}

#mnref\:11 {
  anchor-name: --mn-11;
}

#mnref\:12 {
  anchor-name: --mn-12;
}

#mnref\:13 {
  anchor-name: --mn-13;
}

#mnref\:14 {
  anchor-name: --mn-14;
}

#mnref\:15 {
  anchor-name: --mn-15;
}

#mnref\:16 {
  anchor-name: --mn-16;
}

#mnref\:17 {
  anchor-name: --mn-17;
}

#mnref\:18 {
  anchor-name: --mn-18;
}

#mnref\:19 {
  anchor-name: --mn-19;
}

#mnref\:20 {
  anchor-name: --mn-20;
}

/* Fixes notes being too wide on small mobile devices. */
li[id^="fn"],
li[id^="mn:"] {
  max-inline-size: none;
}

[id^="mnref:"]::after {
  position: static;
  display: inline-block;
  margin: unset;
  margin-inline-start: 0.5ch;
  inline-size: 1rem;
  block-size: 1rem;
  clip: unset;

  content: "";
  background: var(--mpb-icon-stickynote) no-repeat;
  line-height: 1;
  vertical-align: middle;
}

@media screen and (min-width: 64rem) {
  .flex_box-flexed {
    #share-wrapper,
    #tags-wrapper,
    #space-occupier,
    li[id^="fn"],
    li[id^="mn:"] {
      /* Fit sidebar width when wrapped */
      max-inline-size: 30ch;
    }
  }

  [id^="mnref:"]:not(.test)::after {
    &:not(:focus-visible) {
      position: absolute;
      display: inline-block;
      inline-size: 1px;
      block-size: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);

      white-space: nowrap;

      border-width: 0;
    }
  }
}

.flex_box-flexed {
  #sidenotes li {
    padding-inline-end: var(--s1);
  }

  li[id^="fn"],
  li[id^="mn:"] {
    bottom: auto;
    anchor-name: --sidenote;
    /* inset-block-start: max(anchor(start) , calc(anchor(--sidenote bottom) + var(--s1))); /* Incompatible with css-anchor-positioning polyfill */
    top: max(anchor(start), calc(anchor(--sidenote bottom) + var(--s1)));

    @supports (anchor-name: --sidenote) {
      position: absolute;
    }

    &::marker {
      color: var(--mpb-color-accent);
    }
  }

  #fn1 {
    position-anchor: --fn-1;
    /* inset-block-start: calc(anchor(start) - var(--s1)); /* Incompatible with css-anchor-positioning polyfill */
    top: calc(anchor(start));
  }

  #fn2 {
    position-anchor: --fn-2;
  }

  #fn3 {
    position-anchor: --fn-3;
  }

  #fn4 {
    position-anchor: --fn-4;
  }

  #fn5 {
    position-anchor: --fn-5;
  }

  #fn6 {
    position-anchor: --fn-6;
  }

  #fn7 {
    position-anchor: --fn-6;
  }

  #fn7 {
    position-anchor: --fn-7;
  }

  #fn8 {
    position-anchor: --fn-8;
  }

  #fn9 {
    position-anchor: --fn-9;
  }

  #fn10 {
    position-anchor: --fn-10;
  }

  #fn11 {
    position-anchor: --fn-11;
  }

  #fn12 {
    position-anchor: --fn-12;
  }

  #fn13 {
    position-anchor: --fn-13;
  }

  #fn14 {
    position-anchor: --fn-14;
  }

  #fn15 {
    position-anchor: --fn-15;
  }

  #fn16 {
    position-anchor: --fn-16;
  }

  #fn17 {
    position-anchor: --fn-17;
  }

  #fn18 {
    position-anchor: --fn-18;
  }

  #fn19 {
    position-anchor: --fn-19;
  }

  #fn20 {
    position-anchor: --fn-20;
  }

  #mn\:1 {
    position-anchor: --mn-1;
    /* inset-block-start: calc(anchor(start) - var(--s1)); /* Incompatible with css-anchor-positioning polyfill */
    top: calc(anchor(start));
  }

  #mn\:2 {
    position-anchor: --mn-2;
  }

  #mn\:3 {
    position-anchor: --mn-3;
  }

  #mn\:4 {
    position-anchor: --mn-4;
  }

  #mn\:5 {
    position-anchor: --mn-5;
  }

  #mn\:6 {
    position-anchor: --mn-6;
  }

  #mn\:7 {
    position-anchor: --mn-6;
  }

  #mn\:7 {
    position-anchor: --mn-7;
  }

  #mn\:8 {
    position-anchor: --mn-8;
  }

  #mn\:9 {
    position-anchor: --mn-9;
  }

  #mn\:10 {
    position-anchor: --mn-10;
  }

  #mn\:11 {
    position-anchor: --mn-11;
  }

  #mn\:12 {
    position-anchor: --mn-12;
  }

  #mn\:13 {
    position-anchor: --mn-13;
  }

  #mn\:14 {
    position-anchor: --mn-14;
  }

  #mn\:15 {
    position-anchor: --mn-15;
  }

  #mn\:16 {
    position-anchor: --mn-16;
  }

  #mn\:17 {
    position-anchor: --mn-17;
  }

  #mn\:18 {
    position-anchor: --mn-18;
  }

  #mn\:19 {
    position-anchor: --mn-19;
  }

  #mn\:20 {
    position-anchor: --mn-20;
  }
}

/* Pagination */
#pagination {
  #mpb-lettermark {
    color: var(--mpb-color-accent);
  }

  svg {
    inline-size: 3rem;
  }
}

/* Comments, author info, support cta, & footer */

#footer-main,
#comment-wrapper,
#author-info-wrapper,
#support-site-wrapper {
  max-inline-size: 70ch;
}

#author-info-content {
  display: flex;
  gap: var(--s1);

  figure {
    flex: 1;
  }

  p {
    flex: 3;
  }
}

#pagination,
#footer-main {
  margin-block-end: var(--s2);
}

/* Scroller */

#scroller-wrapper {
  position: absolute;
  inset-block-start: var(--scrollLength);
  inset-inline-end: 0.25rem;
  inset-block-end: -5em;
  inline-size: 3em;
  pointer-events: none;
}

#scroller {
  display: inline-block;
  position: sticky;
  /* reinstate clicks */
  pointer-events: all;
  /* achieves desired positioning within the viewport relative to the top of the viewport once `sticky` takes over, or always if `fixed` fallback is used */
  inset-block-start: calc(100vh - 5rem);
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  inline-size: 2.5rem;
  block-size: 2.5rem;
  border-radius: 50%;
  border: 0.1rem solid var(--mpb-color-textPrimary);
  background-color: var(--mpb-color-textSecondary);
  /* emoji don't behave like regular fonts
     so this helped position it correctly */
  padding: 0.25rem;

  svg {
    display: inline-block;
    inline-size: 1rem;
    text-align: center;
    vertical-align: text-top;
  }
}

/* Tag post excerpt */
.tag-header {
  margin-block-end: var(--s1);
}

.tag-thumbnail {
  display: inline-block;
  max-inline-size: 35ch;
}

.tag-post-excerpt {
  max-inline-size: 70ch;
}

/* Staff, OKIE-X, Sitemap, Tags */

.staff-wrapper {
  text-align: center;

  figure,
  img {
    margin-inline: auto;
  }

  h2 {
    font-size: var(--mpb-font-size-0);
  }

  p {
    font-size: var(--mpb-font-size--2);
  }
}

#mixologist-wrapper {
  margin-block-start: var(--s3);
}

#okie-x-artist-survey {
  border: 1px solid currentColor;
  border-radius: var(--mpb-radius-1x);
  padding: var(--s1);
}

#sitemap {
  column-gap: var(--s2);
  column-rule: 1px solid var(--mpb-color-textPrimary);

  h2 {
    font-size: var(--mpb-font-size-1);
  }

  ul {
    position: relative;
    inset-inline-start: -2em;
    inline-size: calc(100% + 1em);
    list-style: none;

    svg {
      margin-inline-end: 0.5em;
    }
  }
  li {
    text-indent: -2.4ch;
    margin-inline-start: 2.4ch;

    &:not(:last-of-type) {
      margin-block-end: var(--s-4);
    }
  }
}

.taglist li:not(:last-of-type) {
  margin-block-end: var(--s1);
}

.taglist li:last-of-type {
  hr {
    display: none;
  }
}

.tag-link:not(:last-of-type)::after {
  content: "\00a0|\00a0";
  display: inline-block;
  text-decoration: none;
}

/* Wedding Pricelist */

.fonts-stage-2 {
  .header-pricelist .wedding-services-wrapper {
    h2 {
      font-family: var(--mpb-font-display-sc);
      font-variant: normal;
    }

    li {
      font-family: var(--mpb-font-sans);
    }
  }
}

.wedding-services-wrapper {
  background-color: var(--mpb-color-figureBG);

  .header-pricelist {
    background-color: var(--mpb-color-textPrimary);
    padding: var(--s1);

    h2 {
      font-size: var(--mpb-font-size-1);
      text-align: center;

      a,
      a:visited {
        color: var(--mpb-color-textReverse);
      }

      :after {
        display: none;
      }
    }
  }

  li {
    font-size: var(--mpb-font-size--1);

    &:not(:last-of-type) {
      margin-block-end: var(--s-2);
    }
  }

  .button {
    text-align: center;
    margin-inline: auto;
    margin-bottom: var(--s1);
  }
}

.wedding-price {
  font-size: var(--mpb-font-size-5);
  text-align: center;

  span {
    color: var(--mpb-color-accent);
    font-size: var(--mpb-font-size--2);
    line-height: 1;
    vertical-align: super;
    margin-inline-end: 0.25ch;
  }
}

.wedding-list {
  margin-block-end: var(--s2);
}

/* Social */

#social-wrapper {
  display: flex;
  justify-content: space-evenly;
}

/* Comment form */

#cusdis_thread iframe {
  block-size: 100vh;
  max-block-size: 600px;
}

/* Type specimen */

.specimen {
  p:first-of-type {
    padding-block: var(--s2);
    border: 1px solid currentColor;
    font-size: var(--mpb-font-size-3);
    letter-spacing: 0.3ch;
    line-height: 1.1;
    background-color: var(--mpb-color-textReverse);

    span {
      line-height: 1.4;
    }
  }

  figcaption {
    text-align: start;
  }
}
