mpb-dialog-img {
  figure,
  picture,
  figcaption {
    color: var(--mpb-color-text-primary);
    cursor: default;

    img {
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  dialog {
    /* Variables for animation;
    see https://www.oidaisdes.org/native-dialog-and-popover.en/ */
    --duration: 150ms;
    --start-opacity: 0.5;

    figure,
    picture,
    figcaption {
      img:hover {
        cursor: default;
        opacity: unset;
      }
    }

    /* Needed to position button */
    .modal-wrapper {
      overflow: auto;
    }

    .modal-close {
      /* Minimum size to enclose a 24 pixel square tap target */
      --button-size: 34px;
      position: absolute;
      inset-inline-end: calc(0px - .5 * ((var(--border-thin)) + var(--button-size)));
      inset-block-start: calc(0px - .5 * ((var(--border-thin)) + var(--button-size)));
      inline-size: var(--button-size);
      block-size: var(--button-size);
      padding: 0;
      border: unset;
      border-radius: 50%;
      background-color: var(--mpb-color-text-reverse);
    }

    @media screen and (prefers-reduced-motion: no-preference) {
      --start-scale: scale(0.8);
    }

    pointer-events: none;
    margin: auto;
    background-color: var(--mpb-color-figure-bg);
    border: solid var(--border-thin) var(--mpb-color-text-primary);
    border-radius: var(--mpb-radius-2x);

    /* Don't use logical property on image */
    width: clamp(320px, calc(80vw + var(--s3)), calc(100vw - 2em - 6px));

    /* End values for fade out. */
    opacity: var(--start-opacity);
    transform: var(--start-scale);
    transition:
      opacity var(--duration) var(--ease-out-1),
      transform var(--duration) cubic-bezier(0, 0, 0.2, 1),
      overlay var(--duration) allow-discrete,
      display var(--duration) allow-discrete;

    &::backdrop {
      background-color: var(--mpb-modal-background-color);
      backdrop-filter: blur(1rem);
      /* End value for fade out. */
      opacity: 0;
      transition:
        opacity var(--duration),
        overlay var(--duration) allow-discrete,
        display var(--duration) allow-discrete;
    }

    &[open] {

      /* Next 3 rules for positioning close button */
      overflow: visible;

      display: grid;
      grid-template-rows: 1fr;

      pointer-events: inherit;
      /* End values for fade in; start values for fade out. */
      opacity: 1;
      transform: scale(1);

      @starting-style {
        /* Start values for fade in. */
        opacity: var(--start-opacity);
        transform: var(--start-scale);
      }

      &::backdrop {
        /* End value for fade in; start value for fade out. */
        opacity: 1;
      }
    }
  }
}

/* This starting-style rule cannot be nested inside the above selector because the nesting selector cannot represent pseudo-elements. */
@starting-style {
  mpb-dialog-img dialog[open]::backdrop {
    /* Start value for fade in. */
    opacity: 0;
  }
}
