---json
{
  "permalink": "rss.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Mercury Photo Bureau",
    "description": "Rangefinder + Mirrorless + Digital + Large Format Film Photography, Music, Arts, & News",
    "language": "en-US",
    "base": "https://mercury.photo",
    "author": {
      "name": "Chris J. Zähller"
    },
    "siteImage": "/assets/images/site/mpb-logo.png"
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xml:base="{{ metadata.base }}/">
  <channel>
    <title>{{ metadata.title }}</title>
    <link>{{ metadata.base }}/</link>
    <atom:link href="{{ metadata.base }}/{{ permalink }}" hreflang="en-US" rel="self" type="application/rss+xml" />
    <description><![CDATA[{{ metadata.description }}]]></description>
    <language>{{ metadata.language or page.lang }}</language>
    <category>Photography</category>
    <category>Blog</category>
    <docs>https://www.rssboard.org/rss-specification</docs>
    <dc:publisher>{{ metadata.author.name }} | {{ metadata.title }}</dc:publisher>
    <image>
      <url>{{ metadata.base }}{{ metadata.siteImage }}</url>
      <title>{{ metadata.title }}</title>
      <link>{{ metadata.base }}/</link>
      <description><![CDATA[{{ metadata.description }}]]></description>
      <width>144</width>
      <height>144</height>
    </image>
    <copyright>Copyright © 2012{{ dateUtils.currentYearRSS() | safe }} {{ metadata.author.name }}. All rights reserved.</copyright>
    <lastBuildDate>{%- for post in collections.blog.slice(-1) %}{{ post.data.pubdate | dateToRfc822 }}{%- endfor %}</lastBuildDate>
    {%- for post in collections.blog | sortByPubDate | reverse %}
    {%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.base) %}
    <item>
      <title><![CDATA[{{ post.data.title | replace("&amp;", "&") | replace("&mdash;", "—") | replace("&NoBreak;", "") | replace("&hairsp;", "") }}]]></title>
      <link>{{ absolutePostUrl }}</link>
      <description><![CDATA[{{ post.data.excerpt | replace("&amp;", "&") | replace("&mdash;", "—") | replace("&NoBreak;", "") }}]]></description>
      <pubDate>{{ post.data.pubdate | dateToRfc822 }}</pubDate>
      <dc:creator>{{ metadata.author.name }}</dc:creator>
      <guid>{{ absolutePostUrl }}</guid>
      <enclosure url="{{ metadata.base | htmlBaseUrl(metadata.base) }}{{ post.data.image }}" length="{{ post.data.image | getImgSizeInBytes }}" type="image/jpeg" />
    </item>
    {%- endfor %}
  </channel>
</rss>
